<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Đăng nhập tài khoản - Nail Phúc Trương</title>

	<!-- Global stylesheets -->
	
	<link href="/public/admin/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="/public/admin/js/main/jquery.min.js"></script>
	<script src="/public/admin/js/main/bootstrap.bundle.min.js"></script>
	<script src="/public/admin/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="/public/admin/js/plugins/forms/validation/validate.min.js"></script>
	<script src="/public/admin/js/plugins/forms/styling/uniform.min.js"></script>

	<script src="/public/admin/assets/js/app.js"></script>
	<script src="/public/admin/js/demo_pages/login_validation.js"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">

				<!-- Login card -->
				<form class="login-form form-validate" method="POST" action="/administrator/login">
					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="mb-0">Đăng nhập tài khoản</h5>
								
							</div>

							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" required>
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>
							
							{{#if_eq error  true}}
								<label  class="validation-invalid-label" >Sai tên đăng nhập hoặc mật khẩu</label>
							{{/if_eq}}
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Đăng nhập <i class="icon-circle-right2 ml-2"></i></button>
							</div>

							
						</div>
					</div>
				</form>
				<!-- /login card -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>

</html>
