<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<div class="content">

    <!-- Dashboard content -->
    <div class="row">
        <div class="col-xl-8">

            <!-- Marketing campaigns -->
            <div class="card">
               
                <div class="card-header bg-success text-white header-elements-inline" style="padding: 5px 15px">
					<h6 class="card-title">Danh sách lịch hẹn gần nhất</h6>
					
				</div>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th>Tên khách hàng</th>
                                <th>Thời gian</th>
                                <th>Dịch vụ</th>
                              
                            </tr>
                        </thead>
                        <tbody id="upBooking">

                            {{#each nhacLichHen}} 
                            <tr>
                                    <td> <div class="d-flex align-items-center">
                                                        
                                <div>
                                    <a href="#" class="text-default font-weight-semibold">{{this.fullname}}</a>
                                    <div class="text-muted font-size-sm">
                                        {{this.telephone}}
                                    </div>
                                </div>
                            </div></td>
                                <td>{{this.time_book}}</td>
                                <td>{{this.services}}</td>
                            
                                </tr>
                            {{/each}}
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /marketing campaigns -->
            <!-- Support tickets -->
            

            <!-- Latest posts -->
            

        </div>

        <div class="col-xl-4">

            


            <!-- Daily sales -->
        


            <!-- My messages -->
            <div class="card">
              

    
            

                <!-- Tabs -->
                <ul class="nav nav-tabs nav-tabs-solid nav-justified bg-indigo-400 border-x-0 border-bottom-0 border-top-indigo-300 mb-0">
                    <li class="nav-item">
                        <a href="#messages-tue" class="nav-link font-size-sm text-uppercase active" data-toggle="tab">
                            Thông tin
                        </a>
                    </li>

                  
                </ul>
                <!-- /tabs -->


                <!-- Tabs content -->
                <div class="tab-content card-body">
                    <div class="tab-pane active fade show" id="messages-tue">
                        <ul class="media-list" id="birthDayList">
                            {{#each thongBaoSinhNhat}} 

    <li class="media"> <div class="media-body" >Hôm nay là sinh nhật của <a href="/profile/{{this.telephone}}" target="_blank"> {{this.fullname}} ({{this.telephone}})</a></div> </li>
                            {{/each}} 

                          
                        </ul>
                    </div>

                    

            
                </div>
                <!-- /tabs content -->

            </div>
            <!-- /my messages -->


        </div>
    </div>
    <!-- /dashboard content -->

</div>
<!-- /content area -->