<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{title}}</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" data-toggle="modal" data-target="#modal_iconified" class="btn btn-link btn-float text-default"><i class="icon-add text-primary"></i><span>Thêm Mới</span></a>
				
			</div>
		</div>
	</div>
</div>


<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-light header-elements-inline">
					<h6 class="card-title">Quản lý tài khoản</h6>
					

				</div>
				
				<table class="table datatable-row-basic-service  table-striped table-bordered " >
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Tên đăng nhập</th>
							<th class="text-center">Họ tên</th>
							<th class="text-center">Trạng thái</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						{{#each user}} 
							<tr>
								<td class="text-center">{{add_one @index}}</td>
								<td class="text-center">{{this.username}}</td>
								<td class="text-center">{{this.fullname}}</td>
								<td class="text-center">
									{{#if_eq this.status 1}}
										<a href="/administrator/booking/update-status-enlable/{{this._id}}">
											<span style="color: #b5b7b5;font-size: 20px; cursor: pointer;" class="icon-primitive-dot"></span>
										</a>
									{{/if_eq}}
									{{#if_eq this.status  0}}
										<a href="/administrator/booking/update-status-disable/{{this._id}}">
											<span style="color: #4CAF50;font-size: 20px; cursor: pointer;"  class="icon-primitive-dot"></span>
										</a>
									{{/if_eq}}
								</td>
								<td class="text-center">
									<span style="cursor: pointer;" data-id={{this._id}} href="#" class="badge badge-flat border-primary text-primary-600 badge-icon edit_user"><i class="icon-pencil5"></i></span>
									<span  style="cursor: pointer;" data-id={{this._id}}  class="badge badge-flat border-danger text-danger-600 badge-icon remove_service"><i class="icon-folder-remove"></i></span>
								</td>
							</tr>
						{{/each}} 
					</tbody>
				</table>
				
			</div>
		</div>
			
	</div>

	<div id="modal_iconified" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo tài khoản</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="create_user">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo tài khoản.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên đăng nhập</label>
									<input class="form-control" type="text" name="username" placeholder="Tên đăng nhập">
								</div>
								<div class="col-md-6">
									<label>Họ tên</label>
									<input class="form-control" type="text" name="fullname" placeholder="Họ tên">
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<label>Mật khẩu đăng nhập</label>
									<input class="form-control" type="text" name="password" placeholder="Mật khẩu đăng nhập">
								</div>
								<div class="col-md-6">
									<label>Trạng thái</label>
									<select class="form-control" name="status">
										<option value="0">Hoạt động</option>
										<option value="1">Không hoạt động</option>
									</select>
									
								</div>
							</div>
						
							
						
						</div>
					</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
				</div>
			
			</form>	
			</div>
		</div>
	</div>

	<div id="modal_edit_user_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo đặt lịch</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="edit_user">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo nhân sự.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên đăng nhập</label>
									<input class="form-control" type="text" name="username" placeholder="Tên đăng nhập">
								</div>
								<div class="col-md-6">
									<label>Họ tên</label>
									<input class="form-control" type="text" name="fullname" placeholder="Họ tên">
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-6">
									<label>Mật khẩu đăng nhập</label>
									<input class="form-control" type="text" name="password" placeholder="Mật khẩu đăng nhập">
								</div>
								<div class="col-md-6">
									<label>Trạng thái</label>
									<select class="form-control" name="status">
										<option value="0">Hoạt động</option>
										<option value="1">Không hoạt động</option>
									</select>
									
								</div>
							</div>
							
							<input class="form-control" type="hidden" name="id" placeholder="Lương cơ bản">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
    $(function () {
    	
    	$('#create_user').on('submit',function(){

	        $('#create_user .alert-danger').hide();
	        $('#create_user .fa-spinner').show();
	        $('#create_user .site-button').attr('disabled', 'disabled');
	        var username = $('#create_user input[name="username"]').val();
	        var fullname = $('#create_user input[name="fullname"]').val();
	        var password = $('#create_user input[name="password"]').val();
	        var status = $('#create_user select[name="status"]').val();
	        
	        if (username == '')
	        {
	            $('#create_user .alert-danger').show().html('Bạn vui lòng nhập tên đăng nhập.');
	            $('#create_user .fa-spinner').hide();
	                $('#create_user .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (fullname == '')
	        {
	            $('#create_user .alert-danger').show().html('Bạn vui lòng nhập họ tên.');
	            $('#create_user .fa-spinner').hide();
	                $('#create_user .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (password == '')
	        {
	            $('#create_user .alert-danger').show().html('Bạn vui lòng nhập mật khâủ.');
	            $('#create_user .fa-spinner').hide();
	                $('#create_user .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        
	        $.ajax({
	            url : "/administrator/manger-account/create-user",
	            type : "post",
	            dataType:"text",
	            data : {
	                'username' : username,
	                'fullname' : fullname,
	                'password' : password,
	                'status' : status
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#create_user .fa-spinner').hide();
	                $('#create_user .site-button').removeAttr('disabled');
	                $('#create_user .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	                
	            }
	        });

	        
	        return false;
	    })


    	$('.edit_user').on('click',function(){
	        var id = $(this).data('id');
	        
	        $.ajax({
	            url : "/administrator/manger-account/get-user-id",
	            type : "post",
	            dataType:"text",
	            data : {
	                'id' : id
	            },
	            success : function (result){
	                var data = $.parseJSON(result)
	                $('#modal_edit_user_modal input[name="fullname"]').val(data.fullname);
	                $('#modal_edit_user_modal input[name="username"]').val(data.username);
	                $('#modal_edit_user_modal select[name="status"]').val(data.status);
	                
	               	$('#modal_edit_user_modal input[name="id"]').val(data._id);
	                $('#modal_edit_user_modal').modal('show');
	            }
	        })
	        return false;
	    })


	    $('#edit_user').on('submit',function(){
	    	
	        $('#edit_user .alert-danger').hide();
	        $('#edit_user .fa-spinner').show();
	        $('#edit_user .site-button').attr('disabled', 'disabled');
	        var username = $('#edit_user input[name="username"]').val();
	        var fullname = $('#edit_user input[name="fullname"]').val();
	        var password = $('#edit_user input[name="password"]').val();
	        var status = $('#edit_user select[name="status"]').val();
	        var id = $('#edit_user input[name="id"]').val();
	        if (username == '')
	        {
	            $('#edit_user .alert-danger').show().html('Bạn vui lòng nhập tên đăng nhập.');
	            $('#edit_user .fa-spinner').hide();
	                $('#edit_user .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (fullname == '')
	        {
	            $('#edit_user .alert-danger').show().html('Bạn vui lòng nhập họ tên.');
	            $('#edit_user .fa-spinner').hide();
	                $('#edit_user .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        $.ajax({
	            url : "/administrator/manger-account/edit-user-by-id",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'username' : username,
	                'fullname' : fullname,
	                'password' : password,
	                'status' : status,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#edit_user .fa-spinner').hide();
	                $('#edit_user .site-button').removeAttr('disabled');
	                $('#edit_user .alert-danger').show().html('Error');
	                
	            }
	        });

	        
	        return false;
	    })

	    $('.remove_service').on('click',function(){
	        var id = $(this).data('id');
	        if(confirm('Bạn có chắc chắn với lựa chọn của mình ?'))
	        {
	        	$.ajax({
		            url : "/administrator/manger-account/remove-user-by-id",
		            type : "post",
		            dataType:"text",
		            data : {
		                'id' : id
		            },
		            success : function (result){
		                location.reload();
		            }
		        })
	        }
	        
		        
	        return false;
	    })
	    function formatNumber(num) {
		  return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
		}
	    $('input[name="salary"]').on('input propertychange',function(){
	    	$(this).val(formatNumber($(this).val().replace(/,/g, ''))); 
	    })
    });


</script>