<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{title}}</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" data-toggle="modal" data-target="#modal_iconified" class="btn btn-link btn-float text-default"><i class="icon-add text-primary"></i><span>Thêm Mới</span></a>
				<a href="/administrator/booking/statistical" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Lịch sử</span></a>
				<!-- <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a> -->
			</div>
		</div>
		
	</div>
</div>


<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-light header-elements-inline">
					<h6 class="card-title">Lịch sử tích điểm</h6>
					

				</div>
				
				<table class="table datatable-row-basic-member  table-striped table-bordered " >
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Thời gian tạo</th>
							<th class="text-center">Tên khách hàng</th>
							<th class="text-center">Số điện thoại</th>
							<th class="text-center">Số điểm</th>
							<th class="text-center">Tên nhân viên</th>
							<th class="text-center">Mô tả</th>
						</tr>
					</thead>
					<tbody>
						{{#each history}} 
							<tr>
								<td class="text-center">{{add_one @index}}</td>
								<td class="text-center">{{formatdate_hour this.created}}</td>
								<td class="text-center">{{this.member.fullname}}</td>
								<td class="text-center">{{this.member.telephone}}</td>
								<td class="text-center">{{this.type}}{{this.point}}</td>
								<td class="text-center">{{this.user.fullname}}</td>
								<td class="text-center">{{this.description}}</td>
							</tr>
						{{/each}} 
					</tbody>
				</table>
				
			</div>
		</div>
			
	</div>

	<div id="modal_iconified" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo khách hàng</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="create_member">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo khách hàng.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên khách hàng</label>
									<input class="form-control" type="text" name="fullname" placeholder="Tên khách hàng">
								</div>
								<div class="col-md-6">
									<label>Số điện thoại</label>
									<input class="form-control" type="text" name="telephone" placeholder="Tên khách hàng">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Ngày sinh</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Chọn ngày sinh" name="birthday">
									</div>
								</div>
								<div class="col-md-6">
									<label>Địa chỉ</label>
									<input class="form-control" type="text" name="address" placeholder="Địa chỉ">
								</div>
								
							</div>
							<div class="row">
								
							</div>
							
						
						</div>
					</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
				</div>
			
			</form>	
			</div>
		</div>
	</div>

	<div id="modal_edit_member_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo đặt lịch</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="edit_member">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo nhân sự.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên khách hàng</label>
									<input class="form-control" type="text" name="fullname" placeholder="Tên khách hàng">
								</div>
								<div class="col-md-6">
									<label>Số điện thoại</label>
									<input class="form-control" type="text" name="telephone" placeholder="Tên khách hàng">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Ngày sinh</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Chọn ngày sinh" name="birthday">
									</div>
								</div>
								<div class="col-md-6">
									<label>Địa chỉ</label>
									<input class="form-control" type="text" name="address" placeholder="Địa chỉ">
								</div>
								
							</div>
							
							
							<input class="form-control" type="hidden" name="id" placeholder="Lương cơ bản">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>
	
	<div id="modal_add_point_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tích điểm</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="add_point">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng nhập số điểm để tích điểm.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Số điểm</label>
									<input class="form-control" type="number" name="point" placeholder="Số điểm">
								</div>
								
							</div>
							
							
							
							<input class="form-control" type="hidden" name="id" placeholder="">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>

	<div id="modal_created_voucher_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo voucher</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="created_voucher">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng nhập đầy đủ thông tin đưới để tạo voucher.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Số điểm tạo voucher</label>
									<input class="form-control" type="number" name="point" placeholder="Số điểm">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Mô tả</label>
									<textarea class="form-control" type="number" name="description" placeholder="Mô tả"></textarea>
									
								</div>
							</div>
							
							
							<input class="form-control" type="hidden" name="id" placeholder="">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
    $(function () {
    	
    	$('#create_member').on('submit',function(){

	        $('#create_member .alert-danger').hide();
	        $('#create_member .fa-spinner').show();
	        $('#create_member .site-button').attr('disabled', 'disabled');
	        var fullname = $('#create_member input[name="fullname"]').val();
	        var telephone = $('#create_member input[name="telephone"]').val();
	        var birthday = $('#create_member input[name="birthday"]').val();
	        var address = $('#create_member input[name="address"]').val();
	        
	        if (fullname == '')
	        {
	            $('#create_member .alert-danger').show().html('Bạn vui lòng nhập tên khách hàng.');
	            $('#create_member .fa-spinner').hide();
	                $('#create_member .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (telephone == '')
	        {
	            $('#create_member .alert-danger').show().html('Bạn vui lòng nhập số điện thoại.');
	            $('#create_member .fa-spinner').hide();
	                $('#create_member .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (birthday == '')
	        {
	            $('#create_member .alert-danger').show().html('Bạn vui lòng nhập ngày sinh.');
	            $('#create_member .fa-spinner').hide();
	                $('#create_member .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (address == '')
	        {
	            $('#create_member .alert-danger').show().html('Bạn vui lòng nhập địa chỉ.');
	            $('#create_member .fa-spinner').hide();
	                $('#create_member .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        $.ajax({
	            url : "/administrator/member/create-member",
	            type : "post",
	            dataType:"text",
	            data : {
	                'fullname' : fullname,
	                'telephone' : telephone,
	                'birthday' : birthday,
	                'address' : address
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	
	                $('#create_member .fa-spinner').hide();
	                $('#create_member .site-button').removeAttr('disabled');
	                $('#create_member .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })


    	$('.edit_member').on('click',function(){
	        var id = $(this).data('id');
	        
	        $.ajax({
	            url : "/administrator/member/get-member-id",
	            type : "post",
	            dataType:"text",
	            data : {
	                'id' : id
	            },
	            success : function (result){
	                var data = $.parseJSON(result)
	                $('#modal_edit_member_modal input[name="fullname"]').val(data.fullname);
	                $('#modal_edit_member_modal input[name="birthday"]').val(data.birthday);
	                $('#modal_edit_member_modal input[name="address"]').val(data.address);
	                
	                $('#modal_edit_member_modal input[name="telephone"]').val(data.telephone);
	               	$('#modal_edit_member_modal input[name="id"]').val(data._id);
	                $('#modal_edit_member_modal').modal('show');
	            }
	        })
	        return false;
	    })


	    $('#edit_member').on('submit',function(){
	        $('#edit_member .alert-danger').hide();
	        $('#edit_member .fa-spinner').show();
	        $('#edit_member .site-button').attr('disabled', 'disabled');
	        var fullname = $('#edit_member input[name="fullname"]').val();
	        var telephone = $('#edit_member input[name="telephone"]').val();
	        var birthday = $('#edit_member input[name="birthday"]').val();
	        var address = $('#edit_member input[name="address"]').val();
	       
	        var id = $('#edit_member input[name="id"]').val();
	       	
	        if (fullname == '')
	        {
	            $('#edit_member .alert-danger').show().html('Bạn vui lòng nhập tên khách hàng.');
	            $('#edit_member .fa-spinner').hide();
	                $('#edit_member .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (telephone == '')
	        {
	            $('#edit_member .alert-danger').show().html('Bạn vui lòng nhập số điện thoại.');
	            $('#edit_member .fa-spinner').hide();
	                $('#edit_member .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (birthday == '')
	        {
	            $('#edit_member .alert-danger').show().html('Bạn vui lòng nhập ngày sinh.');
	            $('#edit_member .fa-spinner').hide();
	                $('#edit_member .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (address == '')
	        {
	            $('#edit_member .alert-danger').show().html('Bạn vui lòng nhập địa chỉ.');
	            $('#edit_member .fa-spinner').hide();
	                $('#edit_member .site-button').removeAttr('disabled');
	            return false;
	        }

	        
	        
	        $.ajax({
	            url : "/administrator/member/edit-member-by-id",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'fullname' : fullname,
	                'telephone' : telephone,
	                'birthday' : birthday,
	                'address' : address,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	$('#edit_member .fa-spinner').hide();
	                $('#edit_member .site-button').removeAttr('disabled');
	                $('#edit_member .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })

	    $('.remove_service').on('click',function(){
	        var id = $(this).data('id');
	        if(confirm('Bạn có chắc chắn với lựa chọn của mình ?'))
	        {
	        	$.ajax({
		            url : "/administrator/member/remove-member-by-id",
		            type : "post",
		            dataType:"text",
		            data : {
		                'id' : id
		            },
		            success : function (result){
		                location.reload();
		            }
		        })
	        }
	        
		        
	        return false;
	    })

	    
	    $('.add_point').on('click',function(){
	        var id = $(this).data('id');
	        $('#modal_add_point_modal input[name="id"]').val(id);
            $('#modal_add_point_modal').modal('show');
	    })

	    $('.created_voucher').on('click',function(){
	        var id = $(this).data('id');
	        $('#modal_created_voucher_modal input[name="id"]').val(id);
            $('#modal_created_voucher_modal').modal('show');
	    })


	    $('#created_voucher').on('submit',function(){
	        $('#created_voucher .alert-danger').hide();
	        $('#created_voucher .fa-spinner').show();
	        $('#created_voucher .site-button').attr('disabled', 'disabled');
	        var point = $('#created_voucher input[name="point"]').val();
	       	var description = $('#created_voucher textarea[name="description"]').val();
	        var id = $('#created_voucher input[name="id"]').val();
	       	
	        if (point == '' || parseFloat(point) <= 0)
	        {
	            $('#created_voucher .alert-danger').show().html('Bạn vui lòng nhập số điểm.');
	            $('#created_voucher .fa-spinner').hide();
	                $('#created_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (description == '')
	        {
	            $('#created_voucher .alert-danger').show().html('Bạn vui lòng nhập mô tả.');
	            $('#created_voucher .fa-spinner').hide();
	                $('#created_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        $.ajax({
	            url : "/administrator/member/created-voucher",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'point' : point,
	                'description' : description,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	$('#created_voucher .fa-spinner').hide();
	                $('#created_voucher .site-button').removeAttr('disabled');
	                $('#created_voucher .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })

	    $('#add_point').on('submit',function(){
	        $('#add_point .alert-danger').hide();
	        $('#add_point .fa-spinner').show();
	        $('#add_point .site-button').attr('disabled', 'disabled');
	        var point = $('#add_point input[name="point"]').val();
	       
	        var id = $('#add_point input[name="id"]').val();
	       	
	        if (point == '')
	        {
	            $('#add_point .alert-danger').show().html('Bạn vui lòng nhập số điểm.');
	            $('#add_point .fa-spinner').hide();
	                $('#add_point .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        $.ajax({
	            url : "/administrator/member/add-point",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'point' : point,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	$('#add_point .fa-spinner').hide();
	                $('#add_point .site-button').removeAttr('disabled');
	                $('#add_point .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })

	    function formatNumber(num) {
		  return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
		}
	    $('input[name="salary"]').on('input propertychange',function(){
	    	$(this).val(formatNumber($(this).val().replace(/,/g, ''))); 
	    })
    });


</script>