<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{title}}</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" data-toggle="modal" data-target="#modal_iconified" class="btn btn-link btn-float text-default"><i class="icon-add text-primary"></i><span>Thêm Mới</span></a>
				<a href="/administrator/voucher/history" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Lịch sử</span></a>
				<!-- <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a> -->
			</div>
		</div>
		
	</div>
</div>


<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-light header-elements-inline">
					<h6 class="card-title">Danh sách Voucher</h6>
					

				</div>
				
				<table class="table datatable-row-basic-member  table-striped table-bordered " >
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Thời gian tạo</th>
							<th class="text-center">Tên voucher</th>
							<th class="text-center">Số lượng</th>
							<th class="text-center">Số điểm</th>
							<th class="text-center">Bắt đầu</th>
							<th class="text-center">Kết thúc</th>
							<th class="text-center">Trạng thái</th>
							<th class="text-center">Action</th>
							
						</tr>
					</thead>
					<tbody>
						{{#each voucher}} 
							<tr>
								<td class="text-center">{{add_one @index}}</td>
								<td class="text-center">{{formatdate_hour this.created}}</td>
								<td class="text-center">{{this.name}}</td>
								<td class="text-center">{{this.number}}</td>
								<td class="text-center">{{this.point}}</td>
								<td class="text-center">{{formatdate_day this.start_date}}</td>
								<td class="text-center">{{formatdate_day this.end_date}}</td>
								<td class="text-center">
									{{#if_eq this.status 1}}
										<span style="color: #b5b7b5;font-size: 20px; cursor: pointer;" class="icon-primitive-dot"></span>
									{{/if_eq}}
									{{#if_eq this.status  0}}
										<span style="color: #4CAF50;font-size: 20px; cursor: pointer;"  class="icon-primitive-dot"></span>
									{{/if_eq}}
								</td>
								<td class="text-center">
								<span style="cursor: pointer;" data-id={{this._id}} href="#" class="badge badge-flat border-primary text-primary-600 badge-icon edit_voucher"><i class="icon-pencil5"></i></span>
								</td>
							</tr>
						{{/each}} 
					</tbody>
				</table>
				
			</div>
		</div>
			
	</div>

	<div id="modal_iconified" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo Voucher</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="create_voucher">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo voucher.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Tên voucher</label>
									<input class="form-control" type="text" name="name" placeholder="Tên voucher">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Số lượng voucher</label>
									<input class="form-control" type="text" name="number" placeholder="Số lượng voucher">
								</div>
								<div class="col-md-6">
									<label>Số điểm</label>
									<input class="form-control" type="text" name="point" placeholder="Số điểm">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Thời gian bắt đầu</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Thời gian bắt đầu" name="start_date">
									</div>
								</div>
								<div class="col-md-6">
									<label>Thời gian kết thúc</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Thời gian kết thúc" name="end_date">
									</div>
								</div>
							</div>
							<div class="row">
								
							</div>
							
						
						</div>
					</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
				</div>
			
			</form>	
			</div>
		</div>
	</div>

	<div id="modal_edit_voucher_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo đặt lịch</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="edit_voucher">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo nhân sự.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên voucher</label>
									<input class="form-control" type="text" name="name" placeholder="Tên voucher">
								</div>
								<div class="col-md-6">
									<label>Trạng thái</label>
									<select class="form-control" name="status">
										<option value="0">Hoạt động</option>
										<option value="1">Không hoạt động</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Số lượng voucher</label>
									<input class="form-control" type="text" name="number" placeholder="Số lượng voucher">
								</div>
								<div class="col-md-6">
									<label>Số điểm</label>
									<input class="form-control" type="text" name="point" placeholder="Số điểm">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Thời gian bắt đầu</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Thời gian bắt đầu" name="start_date">
									</div>
								</div>
								<div class="col-md-6">
									<label>Thời gian kết thúc</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Thời gian kết thúc" name="end_date">
									</div>
								</div>
							</div>
							<div class="row">
								<input type="hidden" name="id">
							</div>
							
						
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>
	
	<div id="modal_add_point_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tích điểm</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="add_point">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng nhập số điểm để tích điểm.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Số điểm</label>
									<input class="form-control" type="number" name="point" placeholder="Số điểm">
								</div>
								
							</div>
							
							
							
							<input class="form-control" type="hidden" name="id" placeholder="">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>

	<div id="modal_created_voucher_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo voucher</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="created_voucher">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng nhập đầy đủ thông tin đưới để tạo voucher.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Số điểm tạo voucher</label>
									<input class="form-control" type="number" name="point" placeholder="Số điểm">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Mô tả</label>
									<textarea class="form-control" type="number" name="description" placeholder="Mô tả"></textarea>
									
								</div>
							</div>
							
							
							<input class="form-control" type="hidden" name="id" placeholder="">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
    $(function () {
    	
    	$('#create_voucher').on('submit',function(){

	        $('#create_voucher .alert-danger').hide();
	        $('#create_voucher .fa-spinner').show();
	        $('#create_voucher .site-button').attr('disabled', 'disabled');
	        var name = $('#create_voucher input[name="name"]').val();
	        var number = $('#create_voucher input[name="number"]').val();
	        var start_date = $('#create_voucher input[name="start_date"]').val();
	        var end_date = $('#create_voucher input[name="end_date"]').val();
	        var point = $('#create_voucher input[name="point"]').val();
	        
	        if (name == '')
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập tên voucher.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (number == '' || isNaN(number))
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập số lượng voucher.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (point == ''  || isNaN(point))
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập số điểm voucher.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (start_date == '')
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập thời gian bắt đầu.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (end_date == '')
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập thời gian kết thúc.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        $.ajax({
	            url : "/administrator/voucher/create-voucher",
	            type : "post",
	            dataType:"text",
	            data : {
	                'name' : name,
	                'number' : number,
	                'start_date' : start_date,
	                'end_date' : end_date,
	                'point' : point
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	
	                $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	                $('#create_voucher .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })


    	$('.edit_voucher').on('click',function(){
	        var id = $(this).data('id');
	        
	        $.ajax({
	            url : "/administrator/voucher/get-voucher-id",
	            type : "post",
	            dataType:"text",
	            data : {
	                'id' : id
	            },
	            success : function (result){
	                var data = $.parseJSON(result)
	                $('#modal_edit_voucher_modal input[name="name"]').val(data.name);
	                $('#modal_edit_voucher_modal input[name="point"]').val(data.point);
	                $('#modal_edit_voucher_modal input[name="number"]').val(data.number);
	                
	                $('#modal_edit_voucher_modal input[name="start_date"]').val(formatAMPM(data.start_date));
	                $('#modal_edit_voucher_modal input[name="end_date"]').val(formatAMPM(data.end_date));
	                $('#modal_edit_voucher_modal select[name="status"]').val(data.status);
	               	$('#modal_edit_voucher_modal input[name="id"]').val(data._id);
	                $('#modal_edit_voucher_modal').modal('show');
	            }
	        })
	        return false;
	    })


	    $('#edit_voucher').on('submit',function(){
	        $('#edit_voucher .alert-danger').hide();
	        $('#edit_voucher .fa-spinner').show();
	        $('#edit_voucher .site-button').attr('disabled', 'disabled');

	        var name = $('#edit_voucher input[name="name"]').val();
	        var number = $('#edit_voucher input[name="number"]').val();
	        var start_date = $('#edit_voucher input[name="start_date"]').val();
	        var end_date = $('#edit_voucher input[name="end_date"]').val();
	        var point = $('#edit_voucher input[name="point"]').val();
	        var status = $('#edit_voucher select[name="status"]').val();

	        var id = $('#edit_voucher input[name="id"]').val();
	       	
	        if (name == '')
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập tên voucher.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (number == '' || isNaN(number))
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập số lượng voucher.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (point == ''  || isNaN(point))
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập số điểm voucher.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (start_date == '')
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập thời gian bắt đầu.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (end_date == '')
	        {
	            $('#create_voucher .alert-danger').show().html('Bạn vui lòng nhập thời gian kết thúc.');
	            $('#create_voucher .fa-spinner').hide();
	                $('#create_voucher .site-button').removeAttr('disabled');
	            return false;
	        }

	        
	        
	        $.ajax({
	            url : "/administrator/voucher/edit-voucher-by-id",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'name' : name,
	                'number' : number,
	                'start_date' : start_date,
	                'end_date' : end_date,
	                'point' : point,
	                'status' : status,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	$('#edit_voucher .fa-spinner').hide();
	                $('#edit_voucher .site-button').removeAttr('disabled');
	                $('#edit_voucher .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })

	    $('.remove_service').on('click',function(){
	        var id = $(this).data('id');
	        if(confirm('Bạn có chắc chắn với lựa chọn của mình ?'))
	        {
	        	$.ajax({
		            url : "/administrator/member/remove-member-by-id",
		            type : "post",
		            dataType:"text",
		            data : {
		                'id' : id
		            },
		            success : function (result){
		                location.reload();
		            }
		        })
	        }
	        
		        
	        return false;
	    })

	    
	    $('.add_point').on('click',function(){
	        var id = $(this).data('id');
	        $('#modal_add_point_modal input[name="id"]').val(id);
            $('#modal_add_point_modal').modal('show');
	    })

	    $('.created_voucher').on('click',function(){
	        var id = $(this).data('id');
	        $('#modal_created_voucher_modal input[name="id"]').val(id);
            $('#modal_created_voucher_modal').modal('show');
	    })


	    $('#created_voucher').on('submit',function(){
	        $('#created_voucher .alert-danger').hide();
	        $('#created_voucher .fa-spinner').show();
	        $('#created_voucher .site-button').attr('disabled', 'disabled');
	        var point = $('#created_voucher input[name="point"]').val();
	       	var description = $('#created_voucher textarea[name="description"]').val();
	        var id = $('#created_voucher input[name="id"]').val();
	       	
	        if (point == '' || parseFloat(point) <= 0)
	        {
	            $('#created_voucher .alert-danger').show().html('Bạn vui lòng nhập số điểm.');
	            $('#created_voucher .fa-spinner').hide();
	                $('#created_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (description == '')
	        {
	            $('#created_voucher .alert-danger').show().html('Bạn vui lòng nhập mô tả.');
	            $('#created_voucher .fa-spinner').hide();
	                $('#created_voucher .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        $.ajax({
	            url : "/administrator/member/created-voucher",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'point' : point,
	                'description' : description,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	$('#created_voucher .fa-spinner').hide();
	                $('#created_voucher .site-button').removeAttr('disabled');
	                $('#created_voucher .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })

	    $('#add_point').on('submit',function(){
	        $('#add_point .alert-danger').hide();
	        $('#add_point .fa-spinner').show();
	        $('#add_point .site-button').attr('disabled', 'disabled');
	        var point = $('#add_point input[name="point"]').val();
	       
	        var id = $('#add_point input[name="id"]').val();
	       	
	        if (point == '')
	        {
	            $('#add_point .alert-danger').show().html('Bạn vui lòng nhập số điểm.');
	            $('#add_point .fa-spinner').hide();
	                $('#add_point .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        $.ajax({
	            url : "/administrator/member/add-point",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'point' : point,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	            	$('#add_point .fa-spinner').hide();
	                $('#add_point .site-button').removeAttr('disabled');
	                $('#add_point .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	            }
	        });

	        
	        return false;
	    })

	    function formatNumber(num) {
		  return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
		}
	    $('input[name="salary"]').on('input propertychange',function(){
	    	$(this).val(formatNumber($(this).val().replace(/,/g, ''))); 
	    })

	    function formatAMPM(date) {
		    var date = new Date(date);
		    
		    var dd = date.getDate();
		    var mm = date.getMonth() + 1; 

		    var yyyy = date.getFullYear();
		    if (dd < 10) {
		      dd = '0' + dd;
		    } 
		    if (mm < 10) {
		      mm = '0' + mm;
		    } 
		    var hours = date.getHours();
		    var minutes = date.getMinutes();
		    hours = hours < 10 ? '0'+hours : hours;
		    minutes = minutes < 10 ? '0'+minutes : minutes;
		    var strTime = dd+'/'+mm+'/'+yyyy;
		    return strTime;
		}
    });


</script>