<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Administrator - Nail Phúc Trương</title>

	
	<link href="/public/admin/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/layout.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="/public/admin/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet prefetch" href="/public/home/css/datepicker.css">
	<link href="/public/admin/css/customer.css" rel="stylesheet" type="text/css">
	<script src="/public/admin/js/main/jquery.min.js"></script>
	<script src="/public/admin/js/main/bootstrap.bundle.min.js"></script>
	<script src="/public/admin/js/plugins/loaders/blockui.min.js"></script>
	
	<script src="/public/admin/js/plugins/visualization/d3/d3.min.js"></script>
	<script src="/public/admin/js/plugins/visualization/d3/d3_tooltip.js"></script>
	<script src="/public/admin/js/plugins/forms/styling/switchery.min.js"></script>
	<script src="/public/admin/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
	<script src="/public/admin/js/plugins/ui/moment/moment.min.js"></script>
	<script src="/public/admin/js/plugins/pickers/daterangepicker.js"></script>

	<script src="/public/admin/assets/js/app.js"></script>
	<script src="/public/admin/js/demo_pages/dashboard.js"></script>

	<script src="/public/admin/js/plugins/tables/datatables/datatables.min.js"></script>
		
	<script src="/public/admin/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="/public/admin/js/plugins/tables/datatables/extensions/row_reorder.min.js"></script>
	<script src="/public/admin/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
	<!-- <script src="/public/admin/js/plugins/forms/selects/select2.min.js"></script>
 -->
	
	<script src="/public/admin/js/demo_pages/datatables_extension_row_reorder.js"></script>

	<script src="/public/admin/js/demo_pages/datatables_sorting.js"></script>

	<script src="/public/admin/js/plugins/tables/footable/footable.min.js"></script>

	<script src="/public/admin/js/demo_pages/datatables_responsive.js"></script>
	<script src="/public/admin/js/demo_pages/table_responsive.js"></script>
	<script src="/public/config.js"></script>
	<script src="/public/admin/js/socket.io.js"></script>
	<script src="/public/admin/js/socket.js"></script>
	<script src="/public/home/js/bootstrap-datepicker.js"></script>
	<script src="/public/home/js/timepicker.min.js"></script>
	<script type="text/javascript">
        $(function () {
        	$('#datepicker').datepicker({
			    format: 'dd/mm/yyyy',
			    startDate: '0d'
			}).on('change', function(){
		        $('.datepicker').hide();
		    });
			$('#datepickers').datepicker({
			    format: 'dd/mm/yyyy',
			    startDate: '0d'
			}).on('change', function(){
		        $('.datepicker').hide();
		    });
			$('.datepickers').datepicker({
			    format: 'dd/mm/yyyy'

			}).on('change', function(){
		        $('.datepicker').hide();
		    });
		})
	</script>
</head>

<body>
<audio id="notification_sound">
	  
	  <source src="/public/audio/notification.mp3" type="audio/mpeg">
	  
	</audio>
	<audio id="lichhen_sound">
	  
	  <source src="/public/audio/lichhen.mp3" type="audio/mpeg">
	  
	</audio>
	<audio id="sinhnhat_sound">
	  
	  <source src="/public/audio/sinhnhat.mp3" type="audio/mpeg">
	  
	</audio>
	<div class="navbar navbar-expand-md navbar-dark">
		<div class="navbar-brand">
			<a href="/administrator/booking" class="d-inline-block">
				<img src="/public/admin/images/logo_light.png" alt="">
			</a>
		</div>

		<div class="d-md-none">
			{{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button> --}}
			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>

		
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- User menu -->
				
				<!-- /user menu -->


				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->
						<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Menu</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item">
							<a href="/administrator/dashboard" class="nav-link {{#if_eq menu 'dashboard'}} active {{/if_eq}}">
								<i class="icon-home4"></i>
								<span>
									Tổng quan
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/administrator/booking" class="nav-link {{#if_eq menu 'booking'}} active {{/if_eq}}">
								<i class="icon-bookmark"></i>
								<span>
									Danh sách đặt lịch
								</span>
							</a>
						</li>
						
						<li class="nav-item">
							<a href="/administrator/service" class="nav-link {{#if_eq menu 'service'}} active {{/if_eq}}">
								<i class="icon-certificate"></i>
								<span>
									Danh sách dịch vụ
								</span>
							</a>
						</li>

						<li class="nav-item">
							<a href="/administrator/member" class="nav-link {{#if_eq menu 'member'}} active {{/if_eq}}">
								<i class="icon-database2"></i>
								<span>
									Quản lý khách hàng
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/administrator/personnel" class="nav-link {{#if_eq menu 'personnel'}} active {{/if_eq}}">
								<i class="icon-users"></i>
								<span>
									Quản lý nhân sự
								</span>
							</a>
						</li>

						<li class="nav-item">
							<a href="/administrator/voucher" class="nav-link {{#if_eq menu 'voucher'}} active {{/if_eq}}">
								<i class="icon-gift"></i>
								<span>
									Tích Điểm & Voucher
								</span>
							</a>
						</li>

						<li class="nav-item">
							<a href="/administrator/rating" class="nav-link {{#if_eq menu 'rating'}} active {{/if_eq}}">
								<i class="icon-cube3"></i>
								<span>
									Đánh Giá Dịch Vụ
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/administrator/manger-account" class="nav-link {{#if_eq menu 'manger-account'}} active {{/if_eq}}">
								<i class="icon-wall"></i>
								<span>
									Quản lý tài khoản
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/administrator/service-evaluation" class="nav-link {{#if_eq menu 'service-evaluation'}} active {{/if_eq}}">
								<i class="icon-snowflake"></i>
								<span>
									Báo Cáo Tổng Kết
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/administrator/logout" class="nav-link">
								<i class="icon-switch"></i>
								<span>
									Thoát phần mềm
								</span>
							</a>
						</li>
						
					</ul>
				</div>

			</div>
			
		</div>


		<div class="content-wrapper">
			{{{body}}}
			
			
			<div class="navbar navbar-expand-lg navbar-light">
				

				<div class="navbar-collapse collapse" id="navbar-footer">
					
				</div>
			</div>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>

</html>


