.spa_reservation_form .alert{
	display: none;
}
.spa_reservation_form .alert p{
	color: #25ac91;
	font-size: 14px;
    
    line-height: 20px;
    
    text-align: left;
    margin-bottom: 0px;
}
.spa_reservation_form .form-control{
	margin-bottom: 10px;
}
.spa_reservation_form h3{
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 40px;
}
.badge-flat {
    font-size: 12px;
}
.custome_padding.table td,.custome_padding.table th {
    padding: 7px 5px;
}
.addclass-row td{
	animation-duration: 4s;
	animation-name: slidein;
}
@keyframes slidein {
  from {
    background: rgba(255, 87, 34, 0.25);
    
  }
  to {
    background: #fff;
    
  }
}
.nav-sidebar>.nav-item>.nav-link {
    font-weight: 500;
    padding: 15px 20px;
    font-size: 14px;
}
.nav-sidebar .nav-item {
     margin-bottom: 0px; 
    border-bottom: 1px solid #464444;
}
form label{
  margin-bottom: 0px;
}
.datatable-scroll-wrap {
    
    overflow-x: visible;
}
.point {
  background: #ffb9b9 !important;
  color: #000;
}
.joe td {
  color: #fff;
}
.joe {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
  background-size: 500% 500% !important;
  animation: gradientBG 3s ease infinite !important;
}


@keyframes gradientBG {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

.joe1 {
  background: linear-gradient(-45deg, #b9ffbe, #464444) !important;
  background-size: 500% 500% !important;
  animation: gradientJoe 3s ease infinite !important;
  color: #fff;
}
@keyframes gradientJoe {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }