<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline" >
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{title}}</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" data-toggle="modal" data-target="#modal_iconified" class="btn btn-link btn-float text-default"><i class="icon-add text-primary"></i><span>Thêm Mới</span></a>
				<a href="/administrator/booking/statistical" class="btn btn-link btn-float text-default"><i class="icon-calculator text-primary"></i> <span>Thống kê</span></a>
				<!-- <a href="#" class="btn btn-link btn-float text-default"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a> -->
			</div>
		</div>
	</div>
</div>


<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-success text-white header-elements-inline" style="padding: 5px 15px">
					<h6 class="card-title">Danh sách lịch hẹn chưa duyệt</h6>
					
				</div>
				
				<table class="table datatable-row-basics  table-striped table-bordered custome_padding" id="table_book_pendding">
					<thead>
						<tr>
							<th data-toggle="true" class="text-center">#</th>
							<th data-toggle="true" class="text-center">Họ tên</th>
							<th data-toggle="true" class="text-center">Số điện thoại</th>
							<th data-hide="phone,tablet" class="text-center">Đặt lịch</th>
							<th class="text-center">Dịch vụ</th>
							<th data-hide="phone,tablet" class="text-center"  >Actions</th>
						</tr>
					</thead>
					<tbody>
						{{#each booking_pending}} 
						<tr>
							<td   data-toggle="true"  class="text-center">{{formatdate_hour this.created}}</td>
							<td   data-toggle="true" class="text-center">{{this.fullname}}</td>
							<td data-toggle="true" class="text-center">{{this.telephone}}</td>
							<td data-hide="phone,tablet" class="text-center">{{this.date_book}} {{this.time_book}}</td>
							<td class="text-center">{{this.services}}</td>
							<td  data-hide="phone,tablet" class="text-center">
								<div class="list-icons">
									<div class="dropdown">
										<a href="#" class="list-icons-item" data-toggle="dropdown">
											<i class="icon-menu9"></i>
										</a>

										<div class="dropdown-menu dropdown-menu-right">
											<a href="#" data-id={{this._id}} data-index={{@index}}  class="dropdown-item cancel_booking_pendding"><i class="icon-cancel-circle2"></i> 	Hủy lịch hẹn</a>
											<a href="#" data-id={{this._id}} data-index={{@index}} class="dropdown-item edit_booking_pendding"><i class="icon-pencil7"></i> 	Sửa đặt hẹn</a>
										</div>
									</div>
								</div>
							</td>
						</tr>
						{{/each}} 
					</tbody>
				</table>
				
			</div>
		</div>	
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-dark text-white header-elements-inline" style="padding: 5px 15px">
					<h6 class="card-title">Danh sách lịch hẹn đã duyệt</h6>
					

				</div>
				
				<table class="table datatable-row-basic  table-striped table-bordered custome_padding" id="table_book_confirm">
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Họ tên</th>
							<th class="text-center">Số điện thoại</th>
							
							<th class="text-center">Dịch vụ</th>
							<th class="text-center">Thời gian</th>
							<th class="text-center">Nhân viên</th>
							<th class="text-center">Đến tiệm</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{{#each booking}} 
							<tr id="{{this._id}}">
								<td class="text-center">{{add_one @index}}</td>
								<td class="text-center">{{this.fullname}}</td>
								<td class="text-center">{{this.telephone}}</td>
								<td class="text-center">{{this.services}}</td>

								<td class="text-center">{{this.date_book}} {{this.time_book}}</td>
								<td class="text-center">{{this.personnel.fullname}}</td>
								<td class="text-center">
									{{#if_eq this.online 0}}
										<a href="/administrator/booking/update-status-enlable/{{this._id}}">
											<span style="color: #b5b7b5;font-size: 20px; cursor: pointer;" class="icon-primitive-dot"></span>
										</a>
									{{/if_eq}}
									{{#if_eq this.online  1}}
										<a href="/administrator/booking/update-status-disable/{{this._id}}">
											<span style="color: #4CAF50;font-size: 20px; cursor: pointer;"  class="icon-primitive-dot"></span>
										</a>
									{{/if_eq}}
								</td>
								<td class="text-center">
									<div class="list-icons">
									<div class="dropdown">
										<a href="#" class="list-icons-item" data-toggle="dropdown">
											<i class="icon-menu9"></i>
										</a>

										<div class="dropdown-menu dropdown-menu-right">
											<a href="#" data-id={{this._id}} data-index={{@index}}  class="dropdown-item confirm_booking"><i class="icon-checkbox-checked"></i>Đã xong</a>
											<a href="#" data-id={{this._id}} data-index={{@index}}  class="dropdown-item cancel_booking_pendding"><i class="icon-cancel-circle2"></i> 	Hủy lịch hẹn</a>
											<a href="#" data-id={{this._id}} data-index={{@index}} class="dropdown-item edit_booking_pendding"><i class="icon-pencil7"></i> 	Sửa đặt hẹn</a>
										</div>
									</div>
								</div>
								</td>
							</tr>
						{{/each}} 
					</tbody>
				</table>
				
			</div>
		</div>
			
	</div>
	<div id="modal_confirm_bill" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Số tiền</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="confirm_bill">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng nhập số tiền.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Số tiền</label>
									<input class="form-control" type="text" name="amount" placeholder="Số tiền">
								</div>
								
							</div>
							
							
							
							<input class="form-control" type="hidden" name="id" placeholder="">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Hủy</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Xác  nhận</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>
	<div id="modal_iconified" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo đặt lịch</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="booking_nail">
				<div class="modal-body">
					<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
		                Vui lòng điền đầy đủ thông tin để tạo lịch làm nail.
		                <button type="button" class="close" data-dismiss="alert">×</button>
		            </div>

					<div class="spa_reservation_form">
				
					<div class="row">
						<div class="col-md-12">
							
							<div class="alert alert-danger" role="alert">
							  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="spa_select_field">
								<label>Chọn dịch vụ</label>
								<select class="form-control" name="services">
									<option value="">Chọn dịch vụ</option>
									{{#each service}} 
										<option value="{{this.services}}">{{this.services}}</option>
									{{/each}} 
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Trạng thái</label>
							<div class="spa_select_field">
								<select class="form-control" name="queue">
									
									<option value="0">Chờ xác nhận</option>
									<option value="1">Xác nhận</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label>Nhân viên</label>
							<select class="form-control" name="personnel">
								<option value="">Chọn nhân viên</option>
								{{#each personnel}} 
									<option value="{{this._id}}">{{this.fullname}}</option>
								{{/each}} 
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Thời gian</label>
							<div class="spa_select_field">
								<input type="text" autocomplete="off" name="time_book" data-toggle="timepicker" class="form-control" placeholder="Thời gian">
							</div>
						</div>
						<div class="col-md-6">
							<label>Ngày tháng</label>
							<div class="spa_select_field">
								
								<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
									<input class="form-control" data-toggle="datepicker" id="datepicker" type="text" placeholder="Chọn ngày tháng" name="date_book">
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<label>Họ tên</label>
							<input class="form-control" type="text" name="fullname" placeholder="Nhập họ tên">
							
						</div>
						<div class="col-md-6">
							<label>Số điện thoại</label>
							<input class="form-control" type="text" name="telephone" placeholder="Nhập số điện thoại">
							
						</div>
						<input class="form-control" type="hidden" value="{{token}}" name="token" placeholder="">
					</div>
					
				
			</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
				</div>
			</div>
			</form>	
		</div>
	</div>

	<div id="modal_edit_booking_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo đặt lịch</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="edit_booking_nail">
				<div class="modal-body">
					<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
		                Vui lòng điền đầy đủ thông tin để tạo lịch làm nail.
		                <button type="button" class="close" data-dismiss="alert">×</button>
		            </div>

					<div class="spa_reservation_form">
				
					<div class="row">
						<div class="col-md-12">
							
							<div class="alert alert-danger" role="alert">
							  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="spa_select_field">
								<label>Chọn dịch vụ</label>
								<select class="form-control" name="services">
									<option value="">Chọn dịch vụ</option>
									{{#each service}} 
										<option value="{{this.services}}">{{this.services}}</option>
									{{/each}} 
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Trạng thái</label>
							<div class="spa_select_field">
								<select class="form-control" name="queue">
									<option value="0">Chờ xác nhận</option>
									<option value="1">Xác nhận</option>
									
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label>Nhân viên</label>
							<select class="form-control" name="personnel">
								<option value="">Chọn nhân viên</option>
								{{#each personnel}} 
									<option value="{{this._id}}">{{this.fullname}}</option>
								{{/each}} 
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<label>Thời gian</label>
							<div class="spa_select_field">
								<input type="text" autocomplete="off" name="time_book" data-toggle="timepicker" class="form-control" placeholder="Thời gian">
								
							</div>
						</div>
						<div class="col-md-6">
							<label>Ngày tháng</label>
							<div class="spa_select_field">
								
								<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
									<input class="form-control" data-toggle="datepicker" id="datepickers" type="text" placeholder="Chọn ngày tháng" name="date_book">
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<label>Họ tên</label>
							<input class="form-control" type="text" name="fullname" placeholder="Nhập họ tên">
							
						</div>
						<div class="col-md-6">
							<label>Số điện thoại</label>
							<input class="form-control" type="text" name="telephone" placeholder="Nhập số điện thoại">
							
						</div>
						<input class="form-control" type="hidden" value="" name="id" placeholder="">
						<input class="form-control" type="hidden" value="" name="index" placeholder="">
					</div>
					
				
			</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
				</div>
			</div>
			</form>	
		</div>
	</div>
	
</div>

<style>
    div.timepicker {
  position: absolute;
  z-index: 100;
}
div.timepicker > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  max-height: 290px;
  overflow: scroll;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  overflow-x: hidden;
}
div.timepicker > ul > li {
  height: 40px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  line-height: 300%;
  display: block;
  text-decoration: none;
  color: #363636;
}
div.timepicker > ul > li.hover {
  background: #e8edeb;
}
</style>
<script type="text/javascript">
    $(function () {
    	
    	//$('.sidebar-main-toggle').trigger('click'); 

    });


</script>