<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{title}}</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		
	</div>
</div>


<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-light header-elements-inline">
					<h6 class="card-title">Lịch sử lịch hẹn</h6>
					

				</div>
				<table class="table datatable-row-basic-statistical  table-striped table-bordered" >
					<thead>
						<tr>
							<th>#</th>
							<th>Họ tên</th>
							<th>Số điện thoại</th>
							<th>Thời gian</th>
							<th class="text-center">Trạng thái</th>
							<th>Dịch vụ</th>
						</tr>
					</thead>
					<tbody>
						{{#each booking}} 
							<tr>
								<td>{{add_one @index}}</td>
								<td >{{this.fullname}}</td>
								<td >{{this.telephone}}</td>
								<td >{{this.date_book}} {{this.time_book}}</td>
								<td class="text-center">
									{{#if_eq this.queue 0}} 
										{{#if_eq this.status 0}}
											<span class="badge badge-flat border-warning text-warning-600">Chưa xử lý</span>
										{{/if_eq}}
										{{#if_eq this.status 8}}
											<span class="badge badge-flat border-danger text-danger-600">Hủy lịch</span>
										{{/if_eq}}
										{{#if_eq this.status 2}}
											<span class="badge badge-flat border-success text-success-600">Đã hòan thành</span>
										{{/if_eq}}
									{{else}}
										{{#if_eq this.status 0}}
											<span class="badge badge-flat border-warning text-warning-600">Đang xử lý</span>
										{{/if_eq}}
										{{#if_eq this.status 8}}
											<span class="badge badge-flat border-danger text-danger-600">Đã hủy lịch</span>
										{{/if_eq}}
										{{#if_eq this.status 2}}
											<span class="badge badge-flat border-success text-success-600">Đã hòan thành</span>
										{{/if_eq}}
									{{/if_eq}}
									
								</td>
								<td >{{this.services}}</td>
							</tr>
						{{/each}} 
					</tbody>
				</table>
			
				
			</div>
		</div>
			
	</div>
</div>

