<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{title}}</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" data-toggle="modal" data-target="#modal_iconified" class="btn btn-link btn-float text-default"><i class="icon-add text-primary"></i><span>Thêm Mới</span></a>
				
			</div>
		</div>
	</div>
</div>


<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-light header-elements-inline">
					<h6 class="card-title">Danh sách dịch vụ</h6>
					

				</div>
				
				<table class="table datatable-row-basic-service  table-striped table-bordered " >
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Tên dịch vụ</th>
							<th class="text-center">Trạng thái</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody>
						{{#each service}} 
							<tr>
								<td class="text-center">{{add_one @index}}</td>
								<td class="text-center">{{this.services}}</td>
								<td class="text-center">
									{{#if_eq this.status 0}} 
										<span class="badge badge-flat border-success text-success-600">Hoạt động</span>
									{{else}}
										<span class="badge badge-flat border-danger text-danger-600">Không hoạt động</span>
										
									{{/if_eq}}
									
								</td>
								
								<td class="text-center">
									<span style="cursor: pointer;" data-id={{this._id}} href="#" class="badge badge-flat border-primary text-primary-600 badge-icon edit_service"><i class="icon-pencil5"></i></span>
									<span  style="cursor: pointer;" data-id={{this._id}}  class="badge badge-flat border-danger text-danger-600 badge-icon remove_service"><i class="icon-folder-remove"></i></span>
								</td>
							</tr>
						{{/each}} 
					</tbody>
				</table>
				
			</div>
		</div>
			
	</div>

	<div id="modal_iconified" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo dịch vụ</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="create_services">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo dịch vụ.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
					
							<div class="row">
								<div class="col-md-12">
									<input class="form-control" type="text" name="services" placeholder="Tên dịch vụ">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
										
									<div class="spa_select_field">
										<select class="form-control" name="status">
											
											<option value="0">Hoạt động</option>
											<option value="1">Không hoạt động</option>
										</select>
									</div>
								</div>
							</div>
							
						
						</div>
					</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
				</div>
			</div>
			</form>	
		</div>
	</div>

	<div id="modal_edit_service_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo đặt lịch</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="edit_service">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo dịch vụ.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
					
							<div class="row">
								<div class="col-md-12">
									<input class="form-control" type="text" name="services" placeholder="Tên dịch vụ">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
										
									<div class="spa_select_field">
										<select class="form-control" name="status">
											
											<option value="0">Hoạt động</option>
											<option value="1">Không hoạt động</option>
										</select>
									</div>
								</div>
							</div>
							
							<input type="hidden" name="id" >
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				</div>
			</form>	
		</div>
	</div>
	
</div>
<script type="text/javascript">
    $(function () {
    	
    	$('#create_services').on('submit',function(){
	        $('#create_services .alert-danger').hide();
	        $('#create_services .fa-spinner').show();
	        $('#create_services .site-button').attr('disabled', 'disabled');
	        var services = $('#create_services input[name="services"]').val();
	        var status = $('#create_services select[name="status"]').val();
	       
	        if (services == '')
	        {
	            $('#create_services .alert-danger').show().html('Bạn vui lòng nhập dịch vụ.');
	            $('#create_services .fa-spinner').hide();
	                $('#create_services .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        $.ajax({
	            url : "/administrator/service/create-service",
	            type : "post",
	            dataType:"text",
	            data : {
	                'services' : services,
	                'status' : status
	            },
	            success : function (result){
	                location.reload();
	                
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#booking_nail .fa-spinner').hide();
	                $('#booking_nail .site-button').removeAttr('disabled');
	                $('#booking_nail .alert-danger').show().html('Error');
	                
	                
	            }
	        });

	        
	        return false;
	    })


    	$('.edit_service').on('click',function(){
	        var id = $(this).data('id');
	        
	        $.ajax({
	            url : "/administrator/service/get-services-id",
	            type : "post",
	            dataType:"text",
	            data : {
	                'id' : id
	            },
	            success : function (result){
	                var data = $.parseJSON(result)
	                $('#modal_edit_service_modal input[name="services"]').val(data.services);
	                $('#modal_edit_service_modal select[name="status"]').val(data.status);
	                $('#modal_edit_service_modal input[name="id"]').val(data._id);
	                $('#modal_edit_service_modal').modal('show');
	            }
	        })
	        return false;
	    })


	    $('#edit_service').on('submit',function(){
	        $('#edit_service .alert-danger').hide();
	        $('#edit_service .fa-spinner').show();
	        $('#edit_service .site-button').attr('disabled', 'disabled');
	        var services = $('#edit_service input[name="services"]').val();
	        var status = $('#edit_service select[name="status"]').val();
	        var id = $('#edit_service input[name="id"]').val();
	       
	        if (services == '')
	        {
	            $('#edit_service .alert-danger').show().html('Bạn vui lòng nhập dịch vụ.');
	            $('#edit_service .fa-spinner').hide();
	                $('#edit_service .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        $.ajax({
	            url : "/administrator/service/edit-services-by-id",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'services' : services,
	                'status' : status,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#edit_service .fa-spinner').hide();
	                $('#edit_service .site-button').removeAttr('disabled');
	                $('#edit_service .alert-danger').show().html('Error');
	                
	            }
	        });

	        
	        return false;
	    })

	    $('.remove_service').on('click',function(){
	        var id = $(this).data('id');
	        if(confirm('Bạn có chắc chắn với lựa chọn của mình ?'))
	        {
	        	$.ajax({
		            url : "/administrator/service/remove-service-by-id",
		            type : "post",
		            dataType:"text",
		            data : {
		                'id' : id
		            },
		            success : function (result){
		                location.reload();
		            }
		        })
	        }
	        
		        
	        return false;
	    })
	    
    });


</script>