<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="description" content="ButterFly is a unique design template which is crafted for specially Beauty Salon, Spa Centers, Massage Parlor. Template theme is specially design for ladies/woman stylish/spa/beauty business." />
<meta property="og:title" content="ButterFly : Spa, Beauty Salon & Massage Template" />
<meta property="og:description" content="ButterFly is a unique design template which is crafted for specially Beauty Salon, Spa Centers, Massage Parlor. Template theme is specially design for ladies/woman stylish/spa/beauty business." />
<meta property="og:image" content="error-404.html" />

<meta name="format-detection" content="telephone=no">

<link rel="icon" href="/public/home/images/favicon.png" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="/public/home/images/favicon.png" />
<!-- Page Title Here -->
<title>Nail Phúc Trương</title>
<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
        <script src="/public/home/js/html5shiv.min.js"></script>
        <script src="/public/home/js/respond.min.js"></script>
	<![endif]-->
<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/public/home/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/themify/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/flaticon/flaticon.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/bootstrap-select/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/magnific-popup/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/scroll/scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/css/style.min.css">
<link class="skin"  rel="stylesheet" type="text/css" href="/public/home/css/skin/skin-1.min.css">
<link  rel="stylesheet" type="text/css" href="/public/home/css/templete.css">
<link rel="stylesheet prefetch" href="/public/home/css/datepicker.css">
<!-- Revolution Slider Css -->
<link rel="stylesheet" type="text/css" href="/public/home/plugins/revolution/v5.4.3/css/settings.css">
<!-- Revolution Navigation Style -->
<link rel="stylesheet" type="text/css" href="/public/home/plugins/revolution/v5.4.3/css/navigation.min.css">

</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-area"></div>

    <!-- header -->
	<!-- header -->

	<header class="site-header header center">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a href="/"><img src="/public/home/images/logo-main.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <!-- <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed" aria-expanded="false" >
						<i class="flaticon-menu"></i>
					</button> -->
                      <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell ">

                            <div class="shop-cart navbar-right">
								<button style="opacity: 0;" type="button" class="site-button-link cart-btn">
									<i class="fa fa-shopping-bag"></i><span class="badge bg-primary">3</span>
								</button>

							</div>
						</div>
                    </div>

                    <div class="dez-quik-search bg-primary ">
                        <form action="#">
                            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                            <span id="quik-search-remove"><i class="flaticon-close"></i></span>
                        </form>
                    </div>
					<!-- Quik search -->
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse" aria-expanded="false">

                    </div>

				</div>
            </div>
        </div>
        <!-- main header END -->
    </header>

	<!-- header END -->    <!-- header END -->
    <!-- Content -->
    <div class="page-content" style="padding-bottom: 0px;">
        <!-- inner page banner -->
        <div class="dez-bnr-inr bnr-center dez-bnr-inr-md overlay-black-middle banner-content " style="background-image:url(/public/home/images/banner/bnr3.jpg);">
            <div class="container">
                <div class="dez-bnr-inr-entry text-white">
                	<div class="col-md-6 col-md-push-3">
                   		<div class="spa_reservation_form home">
							<form id="booking_nail">
								<div class="row">
									<div class="col-md-12">
										<h3 class="text-center">Đặt lịch online</h3>
										<div class="alert alert-danger" role="alert">

										</div>
										<div class="alert alert-success" role="alert">

										</div>
										<div class="spa_select_field">

											<select name="services">

												{{#each service}}
													<option value="{{this.services}}">{{this.services}}</option>
												{{/each}}

											</select>
										</div>
									</div>
									<div class="col-md-6">

										<div class="spa_select_field">
											<select  name="time_book">
												<option value="">Chọn thời gian</option>
												<option value="8:00">8:00</option>
												<option value="9:00">9:00</option>
												<option value="10:00">10:00</option>
												<option value="11:00">11:00</option>
												<option value="13:00">13:00</option>
												<option value="14:00">14:00</option>
												<option value="15:00">15:00</option>
												<option value="16:00">16:00</option>
												<option value="17:00">17:00</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="spa_select_field">

											<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
												<input class="form-control" data-toggle="datepicker" id="datepicker" type="text" placeholder="Chọn ngày tháng" readonly="readonly" name="date_book">
											</div>
										</div>
									</div>

									<div class="col-md-6">

										<input class="form-control" type="text" name="fullname" placeholder="Nhập họ tên">

									</div>
									<div class="col-md-6">

										<input class="form-control" type="text" name="telephone" placeholder="Nhập số điện thoại">

									</div>
									<input class="form-control" type="hidden" value="{{token}}" name="token" placeholder="">
								</div>
								<div class="m-t20">
									<button class="site-button radius-xl"><i style="display: none;" class="fa fa-spinner fa-spin"></i> Đặt lịch</button>
								</div>
							</form>
						</div>

					</div>

                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->

        <!-- contact area END -->
    </div>
    <!-- Footer -->
		<!-- Footer -->
   <!--  <footer class="site-footer text-white">


        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2019 Nail Phúc Trương</span> </div>

                </div>
            </div>
        </div>
    </footer> -->

    <!-- Footer END-->
	<!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>




<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<div class="spa_reservation_form">

									<div class="row">
										<div class="col-md-12">
											<div class="spa_select_field">
												<label>Chọn dịch vụ</label>
												<select name="services">
													<option >Select your Serivces</option>
													<option value="1">Urdu</option>
													<option value="2">Arbic</option>
													<option value="4">Potato</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="spa_select_field">
												<label>Chọn ngày tháng</label>
												<div class="datepicker" style="display:inline-block;position:relative;">
													<input class="form-control" type="text" placeholder="Chọn ngày tháng" readonly="true" name="date_book">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<label>Chọn thời gian</label>
											<div class="spa_select_field">
												<select  name="time_book">
													<option data-display="Select times">Chọn thời gian</option>
													<option value="1">12 Am</option>
													<option value="2">13 Am</option>
													<option value="4">15 Am</option>
													<option value="2">18 Am</option>
													<option value="4">20 Am</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<label>Nhập họ tên</label>
											<input class="form-control" type="text" name="text" placeholder="Nhập họ tên">

										</div>
										<div class="col-md-6">
											<label>Nhập số điện thoại</label>
											<input class="form-control" type="text" name="text" placeholder="Nhập số điện thoại">

										</div>
										<div class="col-md-6">
											<label>Nhập email</label>
											<input class="form-control" type="text" name="text" placeholder="Nhập email">

										</div>
										<div class="col-md-6">
											<label>Nhập địa chỉ của bạn</label>
											<input class="form-control" type="text" name="text" placeholder="Nhập địa chỉ của bạn">

										</div>
										<div class="col-md-12">
											<label>Ghi chú</label>
											<textarea class="form-control" ></textarea>
										</div>


									</div>
								</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dranger" data-dismiss="modal">Hủy bỏ</button>
					<button type="button" class="btn btn-primary">Đặt lịch ngay</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- JavaScript  files ========================================= -->

	<script src="/public/home/js/combine.js"></script>

<script src="/public/home/js/timepicker.min.js"></script>
	<script src="/public/home/js/bootstrap-datepicker.js"></script>

	<script type="text/javascript">
        $(function () {
        	$('#datepicker').datepicker({
			    format: 'dd/mm/yyyy',

			    startDate: '0d'
			}).on('change', function(){
		        $('.datepicker').hide();
		    });
        	function ValidateUSPhoneNumber(phoneNumber) {
			  var regExp = /(^0[0-9]{9,10}$)/;
			  return regExp.test(String(phoneNumber));
			}
        	$('#booking_nail').on('submit',function(){
        		$('#booking_nail .alert-danger').hide();
        		$('#booking_nail .fa-spinner').show();
        		$('#booking_nail .site-button').attr('disabled', 'disabled');
        		var services = $('#booking_nail select[name="services"]').val();
        		var time_book = $('#booking_nail select[name="time_book"]').val();
        		var date_book = $('#booking_nail input[name="date_book"]').val();
        		var fullname = $('#booking_nail input[name="fullname"]').val();
        		var telephone = $('#booking_nail input[name="telephone"]').val();
        		var token = $('#booking_nail input[name="token"]').val();
        		if (services == '')
        		{
        			$('#booking_nail .alert-danger').show().html('Bạn vui lòng chọn dịch vụ.');
        			$('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
        			return false;
        		}
        		if (time_book == '')
        		{
        			$('#booking_nail .alert-danger').show().html('Bạn vui lòng chọn thời gian đặt lịch.');
        			$('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
        			return false;
        		}
        		if (date_book == '')
        		{
        			$('#booking_nail .alert-danger').show().html('Bạn vui lòng chọn ngày tháng đặt lịch.');
        			$('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
        			return false;
        		}
        		if (fullname == '')
        		{
        			$('#booking_nail .alert-danger').show().html('Bạn vui lòng nhập họ tên.');
        			$('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
        			return false;
        		}
        		if (telephone == '' || !ValidateUSPhoneNumber(telephone))
        		{
        			$('#booking_nail .alert-danger').show().html('Bạn vui lòng nhập số điện thoại.');
        			$('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
        			return false;
        		}
        		if (token == '')
        		{
        			$('#booking_nail .alert-danger').show().html('Error NetWork.');
        			$('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
        			location.reload();
        			return false;
        		}
        		$.ajax({
                    url : "/home/create-booking",
                    type : "post",
                    dataType:"text",
                    data : {
                        'services' : services,
                        'time_book' : time_book,
                        'date_book' : date_book,
                        'fullname' : fullname,
                        'telephone' : telephone,
                        'token' : token
                    },
                    success : function (result){
                    	var data = $.parseJSON(result)
                    	$('#booking_nail input[name="token"]').val(data.token);
                        $('#booking_nail .alert-success').show().html('Xin chào <b>'+fullname+'</b>. Bạn đã đặt lịch thành công! Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất.');
                        $('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
                    },
                    error : function (xhr, ajaxOptions, thrownError){
                    	$('#booking_nail .fa-spinner').hide();
        				$('#booking_nail .site-button').removeAttr('disabled');
        				$('#booking_nail .alert-danger').show().html('Error');
        				setTimeout(function() {
        					location.reload();
        				}, 1000);

                    }
                });


        		return false;
        	})

        });
    </script>

</body>

<!-- Mirrored from butterfly.dexignzone.com/xhtml/header-center.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Jul 2019 10:54:48 GMT -->
</html>
