<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/public/home/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/home/images/favicon.png" />
    <!-- Page Title Here -->
    <title>Nail Phúc Trương</title>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>

    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="image_src" content="https://nailbeautyplus.com/public/home/images/header/logo.jpg">
    <meta name="description" content="Chia sẻ đến bạn bè để được tích điểm và nhận những phần quà từ Nail Phúc Trương nhé." />
    <meta property="og:title" content="Nail Phúc Trương" />
    <meta property="og:description" content="Chia sẻ đến bạn bè để được tích điểm và nhận những phần quà từ Nail Phúc Trương nhé." />
    <meta property="og:image" content="https://nailbeautyplus.com/public/home/images/header/logo.jpg" />

    <meta name="format-detection" content="telephone=no">
    <script src="/public/home/js/html5shiv.min.js"></script>
    <script src="/public/home/js/respond.min.js"></script>
    <![endif]-->
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/themify/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/flaticon/flaticon.min.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/scroll/scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="/public/home/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link class="skin"  rel="stylesheet" type="text/css" href="/public/home/css/skin/skin-1.min.css">
    <link  rel="stylesheet" type="text/css" href="/public/home/css/templete.css">
    <link rel="stylesheet prefetch" href="/public/home/css/datepicker.css">
    <link rel="stylesheet" type="text/css" href="/public/home/css/custom.css">
    <!-- Revolution Slider Css -->
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/revolution/v5.4.3/css/settings.css">
    <!-- Revolution Navigation Style -->
    <link rel="stylesheet" type="text/css" href="/public/home/plugins/revolution/v5.4.3/css/navigation.min.css">
<style>
    div.timepicker {
  position: absolute;
  z-index: 100;
}
div.timepicker > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 240px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13px;
  max-height: 290px;
  overflow: scroll;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  overflow-x: hidden;
}
div.timepicker > ul > li {
  height: 40px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  line-height: 300%;
  display: block;
  text-decoration: none;
  color: #363636;
}
div.timepicker > ul > li.hover {
  background: #e8edeb;
}
</style>
</head>
<body id="bg">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=267555053769228&autoLogAppEvents=1"></script>

<div class="page-wraper">
    <div id="loading-area"></div>

    <!-- header END -->    <!-- header END -->
    <!-- Content -->
    <div class="page-content" style="padding-bottom: 0px;">
        <!-- inner page banner -->
        <div class="login-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-pad-0 bg-color-10 signup-form">
                        <div class="form-section">
                            <!--<div class="logo">
                                <a href="#">
                                    <img src="/public/home/images/header/logo.jpg" alt="logo">
                                </a>
                            </div>-->
                            <div class="login-inner-form">
                                <form id="booking_nail">
                                    <div class="col-md-12">
                                        <div class="logo">
                                            <img src="/public/home/images/header/logo.jpg" alt="logo">
                                        </div>
                                        <div class="nails-gallery">
                                            <a target="_blank" href="https://www.facebook.com/pg/nailbeautyplus/photos/?ref=page_internal&mt_nav=0">
                                                <img src="/public/home/images/icon/nails-icon.png" alt="nail">
                                                <span>Xem bộ sưu tập Nail</span>
                                            </a>
                                        </div>
                                        <label class="custom-label">
                                            LỊCH HẸN <span>ONLINE</span>
                                        </label>
                                        <div class="alert alert-danger" role="alert">

                                        </div>
                                        <div class="alert alert-success" role="alert">

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="spa_select_field">

                                                <select name="services">

                                                    {{#each service}}
                                                        <option value="{{this.services}}">{{this.services}}</option>
                                                    {{/each}}

                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="spa_select_field">
                                                <input type="text" autocomplete="off" name="time_book" data-toggle="timepicker" class="form-control" placeholder="Chọn thời gian">
                                                {{!-- <select  name="time_book">
                                                    <option value="">Chọn thời gian</option>
                                                    <option value="8:00">8:00</option>
                                                    <option value="9:00">9:00</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="17:00">17:00</option>
                                                </select> --}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="spa_select_field">

                                                <div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
                                                    <input class="form-control" data-toggle="datepicker" id="datepicker" type="text" placeholder="Chọn ngày tháng" readonly="readonly" name="date_book">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">

                                            <input class="form-control" type="text" name="fullname" placeholder="Nhập họ tên">

                                        </div>
                                        <div class="col-md-6">

                                            <input class="form-control" type="text" name="telephone" placeholder="Nhập số điện thoại">

                                        </div>
                                        <input class="form-control" type="hidden" value="{{token}}" name="token" placeholder="">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="site-button radius-xl"><i style="display: none;" class="fa fa-spinner fa-spin"></i> Tôi sẽ <span>Đến</span></button>
                                        </div>
                                    </div>
                                </form>

                                <div class="extra-login">
                                    <span>Chia sẽ ngay để tích điểm thưởng</span>
                                </div>

                                <!--<ul class="social-list clearfix">
                                    <li><a href="#" class="facebook-bg">Facebook</a></li>
                                </ul>-->
                                <div class="fb-share-button" data-href="https://nailbeautyplus.com/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnailbeautyplus.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-6 col-pad-0 bg-img">
                        <div class="info">
                            <div class="event">
                                <div class="coupon-infos">
                                    <h6>Sự kiện nổi bật, ưu đãi đang diễn ra <br>tại Nail Beauty Plus</h6>
                                    <div class="coupon-item">
                                        <span>Nhặt da miễn phí đến 20/10</span>
                                    </div>
                                </div>
                            </div>
                            <div class="coupon-infos">
                                <h6>Dịch vụ chăm sóc ưu tiên ưu đãi dành cho khách hàng thường xuyên thân thiết</h6>
                                <div class="coupon-item">
                                    <span>1. Tặng đồ nghề cho khách hàng (Salon không dùng chung đồ nghề cho khách, mỗi khách hàng là được trang bị 01 bộ riêng)</span>
                                </div>
                                <div class="coupon-item">
                                    <span>2. Chuẩn bị đồ ăn nhẹ và nước uống cho khách (nước lọc, nước ngọt, trà thảo mộc)</span>
                                </div>
                                <div class="coupon-item">
                                    <span>3. Đến ngày sinh nhật Salon gửi hoa và quà chúc mừng</span>
                                </div>
                                <div class="coupon-item">
                                    <span>4. Giảm giá 10% cho nhóm khách đến làm từ 2 người trở lên.</span>
                                </div>
                                <div class="coupon-item">
                                    <span>5. Giảm 10% với khách có Voucher mang theo.</span>
                                </div>
                                <div class="coupon-item">
                                    <span>6. Chương trình tích lũy điểm. Nếu khách hàng cũ giới thiệu một khách hàng mới thì được tích ngay 1 điểm, giới thiệu đủ 10 khách hàng mới là đủ 10 điểm. 10 điểm đổi một lần làm Nail theo yêu cầu và hoàn miễn phí</span>
                                </div>
                                <div class="coupon-item">
                                    <span>7. Giảm 10% cho khách book lịch làm online trên website <a href="https://nailbeautyplus.com/">Nail Beauty Plus</a></span>
                                </div>
                                <div class="coupon-item">
                                    <span>8. Đặc biệt khi khách hàng làm đủ 5 lần mỗi lần 200k, hoặc hóa đơn cộng dồn đủ 1 triệu thì được làm free lần tiếp theo.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->

        <!-- contact area END -->
    </div>
    <!-- Footer -->
    <!-- Footer -->
    <!--  <footer class="site-footer text-white">


         <div class="footer-bottom">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 col-sm-6 text-left "> <span>Copyright © 2019 Nail Phúc Trương</span> </div>

                 </div>
             </div>
         </div>
     </footer> -->

    <!-- Footer END-->
    <!-- Footer END-->
    <!-- scroll top button -->
    <button class="scroltop fa fa-chevron-up" ></button>




    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="spa_reservation_form">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="spa_select_field">
                                    <label>Chọn dịch vụ</label>
                                    <select name="services">
                                        <option >Select your Serivces</option>
                                        <option value="1">Urdu</option>
                                        <option value="2">Arbic</option>
                                        <option value="4">Potato</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="spa_select_field">
                                    <label>Chọn ngày tháng</label>
                                    <div class="datepicker" style="display:inline-block;position:relative;">
                                        <input class="form-control" type="text" placeholder="Chọn ngày tháng" readonly="true" name="date_book">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Chọn thời gian</label>
                                <div class="spa_select_field">
                                    <select  name="time_book">
                                        <option data-display="Select times">Chọn thời gian</option>
                                        <option value="1">12 Am</option>
                                        <option value="2">13 Am</option>
                                        <option value="4">15 Am</option>
                                        <option value="2">18 Am</option>
                                        <option value="4">20 Am</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Nhập họ tên</label>
                                <input class="form-control" type="text" name="text" placeholder="Nhập họ tên">

                            </div>
                            <div class="col-md-6">
                                <label>Nhập số điện thoại</label>
                                <input class="form-control" type="text" name="text" placeholder="Nhập số điện thoại">

                            </div>
                            <div class="col-md-6">
                                <label>Nhập email</label>
                                <input class="form-control" type="text" name="text" placeholder="Nhập email">

                            </div>
                            <div class="col-md-6">
                                <label>Nhập địa chỉ của bạn</label>
                                <input class="form-control" type="text" name="text" placeholder="Nhập địa chỉ của bạn">

                            </div>
                            <div class="col-md-12">
                                <label>Ghi chú</label>
                                <textarea class="form-control" ></textarea>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dranger" data-dismiss="modal">Hủy bỏ</button>
                    <button type="button" class="btn btn-primary">Đặt lịch ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fixed-footer">
    <a href="tel:0966559494"><img src="/public/home/images/icon/call.png" alt="call"></a>
</div>
<!-- JavaScript  files ========================================= -->

<script src="/public/home/js/combine.js"></script>


<script src="/public/home/js/bootstrap-datepicker.js"></script>
<script src="/public/home/js/timepicker.min.js"></script>

<script type="text/javascript">
    let scrollBottom = false;

    $(function () {
        $('#datepicker').datepicker({
            format: 'dd/mm/yyyy',

            startDate: '0d'
        }).on('change', function(){
            $('.datepicker').hide();
        });
        function ValidateUSPhoneNumber(phoneNumber) {
            var regExp = /(^0[0-9]{9,10}$)/;
            return regExp.test(String(phoneNumber));
        }
        $('#booking_nail').on('submit',function(){
            $('#booking_nail .alert-danger').hide();
            $('#booking_nail .fa-spinner').show();
            $('#booking_nail .site-button').attr('disabled', 'disabled');
            var services = $('#booking_nail select[name="services"]').val();
            var time_book = $('#booking_nail input[name="time_book"]').val();
            var date_book = $('#booking_nail input[name="date_book"]').val();
            var fullname = $('#booking_nail input[name="fullname"]').val();
            var telephone = $('#booking_nail input[name="telephone"]').val();
            var token = $('#booking_nail input[name="token"]').val();
            if (services == '')
            {
                $('#booking_nail .alert-danger').show().html('Bạn vui lòng chọn dịch vụ.');
                $('#booking_nail .fa-spinner').hide();
                $('#booking_nail .site-button').removeAttr('disabled');
                return false;
            }
            if (time_book == '')
            {
                $('#booking_nail .alert-danger').show().html('Bạn vui lòng chọn thời gian đặt lịch.');
                $('#booking_nail .fa-spinner').hide();
                $('#booking_nail .site-button').removeAttr('disabled');
                return false;
            }
            if (date_book == '')
            {
                $('#booking_nail .alert-danger').show().html('Bạn vui lòng chọn ngày tháng đặt lịch.');
                $('#booking_nail .fa-spinner').hide();
                $('#booking_nail .site-button').removeAttr('disabled');
                return false;
            }
            if (fullname == '')
            {
                $('#booking_nail .alert-danger').show().html('Bạn vui lòng nhập họ tên.');
                $('#booking_nail .fa-spinner').hide();
                $('#booking_nail .site-button').removeAttr('disabled');
                return false;
            }
            if (telephone == '' || !ValidateUSPhoneNumber(telephone))
            {
                $('#booking_nail .alert-danger').show().html('Bạn vui lòng nhập số điện thoại.');
                $('#booking_nail .fa-spinner').hide();
                $('#booking_nail .site-button').removeAttr('disabled');
                return false;
            }
            if (token == '')
            {
                $('#booking_nail .alert-danger').show().html('Error NetWork.');
                $('#booking_nail .fa-spinner').hide();
                $('#booking_nail .site-button').removeAttr('disabled');
                location.reload();
                return false;
            }
            $.ajax({
                url : "/home/create-booking",
                type : "post",
                dataType:"text",
                data : {
                    'services' : services,
                    'time_book' : time_book,
                    'date_book' : date_book,
                    'fullname' : fullname,
                    'telephone' : telephone,
                    'token' : token
                },
                success : function (result){
                    var data = $.parseJSON(result)
                    $('#booking_nail input[name="token"]').val(data.token);
                    $('#booking_nail .alert-success').show().html('Xin chào <b>'+fullname+'</b>. Bạn đã đặt lịch thành công! Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất.');
                    $('#booking_nail .fa-spinner').hide();
                    $('#booking_nail .site-button').removeAttr('disabled');
                     document.getElementById("booking_nail").reset();
                },
                error : function (xhr, ajaxOptions, thrownError){
                    $('#booking_nail .fa-spinner').hide();
                    $('#booking_nail .site-button').removeAttr('disabled');
                    $('#booking_nail .alert-danger').show().html('Error');
                    setTimeout(function() {
                        location.reload();
                    }, 1000);

                }
            });


            return false;
        })

        $("html, body").click(function() {
            if (!scrollBottom) {
                let bottomPos = $(document).height();
                if (window.innerWidth == 320) {
                    bottomPos = 160;
                }
                $("html, body").animate({scrollTop: bottomPos}, 1000);
                scrollBottom = true;
            }
        });

    });
</script>

</body>

</html>
