<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="" />
<meta name="author" content="" />
<meta name="robots" content="" />
<meta name="description" content="ButterFly is a unique design template which is crafted for specially Beauty Salon, Spa Centers, Massage Parlor. Template theme is specially design for ladies/woman stylish/spa/beauty business." />
<meta property="og:title" content="ButterFly : Spa, Beauty Salon & Massage Template" />
<meta property="og:description" content="ButterFly is a unique design template which is crafted for specially Beauty Salon, Spa Centers, Massage Parlor. Template theme is specially design for ladies/woman stylish/spa/beauty business." />
<meta property="og:image" content="error-404.html" />

<meta name="format-detection" content="telephone=no">

<link rel="icon" href="/public/home/images/favicon.png" type="image/x-icon" />
<link rel="shortcut icon" type="image/x-icon" href="/public/home/images/favicon.png" />
<!-- Page Title Here -->
<title>Nail Phúc Trương</title>
<!-- Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--[if lt IE 9]>
        <script src="/public/home/js/html5shiv.min.js"></script>
        <script src="/public/home/js/respond.min.js"></script>
	<![endif]-->
<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/public/home/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/themify/themify-icons.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/flaticon/flaticon.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/bootstrap-select/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/magnific-popup/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/plugins/scroll/scrollbar.min.css">
<link rel="stylesheet" type="text/css" href="/public/home/css/style.min.css">
<link class="skin"  rel="stylesheet" type="text/css" href="/public/home/css/skin/skin-1.min.css">
<link  rel="stylesheet" type="text/css" href="/public/home/css/templete.css">
<link rel="stylesheet prefetch" href="/public/home/css/datepicker.css">
<!-- Revolution Slider Css -->
<link rel="stylesheet" type="text/css" href="/public/home/plugins/revolution/v5.4.3/css/settings.css">
<!-- Revolution Navigation Style -->
<link rel="stylesheet" type="text/css" href="/public/home/plugins/revolution/v5.4.3/css/navigation.min.css">

<style>


/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:80px; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

@media only screen and (max-width: 560px) {
	.rating-stars ul > li.star > i.fa {
		font-size: 50px;
		color: #ccc;
	}
}


</style>

</head>
<body id="bg" class="rating" ng-app='myApp'>
	<div class="page-wraper">
		<div id="loading-area"></div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center top">
			<h3 class="text-center"><i style="float: left; position: absolute; left: 30px; top: 14px; font-weight: 400; cursor: pointer; display: none;" class="fa fa-arrow-circle-left" aria-hidden="true"></i>
 Đánh giá dịch vụ</h3>
		</div>

		<div class="col-xs-10 col-xs-push-1 online_member" ng-controller="CtrMemberOnline">
			<div class="col-sm-4" ng-repeat="row in data | orderBy: '-time_book'" ng-click="Click_Rating(row._id,row.personnel._id)">
				<div class="item_rating">
					<img src="/public/home/images/girl.png">
					<h4 class="text-center">{[{row.fullname}]}</h4>
					<p class="text-center">{[{row.telephone}]}</p>
				</div>
			</div>

			<div class="col-xs-12">
			<h5 class="text-center" ng-show="data.length == 0">Không có khách hàng nào.</h5>
			</div>
			
			
		</div>

		<div class="show_tow">
			<div class="col-xs-12 text-center center">
				<p class="text-center">Cám ơn bạn đã đánh giá dịch vụ của chúng tôi.</p>
				<p class="text-center"><img class="img_src" src="public/home/images/iconfinder_happy_1325173.png"></p>
				<p class="text-center string_text"></p>
			</div>
		</div>
		<div class="show_one">

			<div class="col-xs-12 text-center center">
				<p class="text-center">Bạn đã sử dụng dịch vụ của chúng tôi.</p>
				<p class="text-center">Vui lòng đánh giá để giúp Nail hoàn thiện hơn mỗi ngày	.</p>
			</div>

			<div class="col-xs-12 text-center center2">
				<ul class="row tab_rating" style="display:none">
					<li class="col-sm-4 text-center active tab_1" data-id="tab_satisfied">
						<a data-toggle="tab" href="#tab_satisfied" >
							<p class="text-center"><img src="public/home/images/iconfinder_happy_1325173.png"></p>
							<p class="text-center">Hài lòng</p>
						</a>
					</li>
					<li class="col-sm-4 text-center tab_2" data-id="tab_normal">
						<a data-toggle="tab" href="#tab_normal" >
							<p class="text-center"><img src="public/home/images/iconfinder_shy_1325169.png"></p>
							<p class="text-center">Bình thường</p>
						</a>
					</li>
					<li class="col-sm-4 text-center tab_3" data-id="tab_unsatisfied">
						<a data-toggle="tab" href="#tab_unsatisfied" >
							
							<p class="text-center"><img src="public/home/images/iconfinder_angry_1325170.png"></p>
							<p class="text-center">Không hài lòng</p>
						
						</a>
					</li>
				</ul>

				<section class='rating-widget'>
					<!-- Rating Stars Box -->
					<div class='rating-stars text-center'>
						<ul id='stars'>
						<li class='star' title='Poor' data-value='1'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Fair' data-value='2'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Good' data-value='3'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='Excellent' data-value='4'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						<li class='star' title='WOW!!!' data-value='5'>
							<i class='fa fa-star fa-fw'></i>
						</li>
						</ul>
					</div>
					{{!-- <div class='success-box' style="display:none">
						<div class='clearfix'></div>
					
						<div class='text-message'></div>
						<div class='clearfix'></div>
					</div> --}}
				</section>
				
				<div class="tab-content" style="display:none">
					<div id="tab_satisfied" class="tab-pane fade">
						<div class="row">
							<div class="col-xs-6">
								
								<input type="checkbox" id="satisfied1" name="satisfied[]" value="Tất cả đều tuyệt vời">
								<label for="satisfied1">Tất cả đều tuyệt vời</label>

								<input type="checkbox" id="satisfied2" name="satisfied[]" value="Xử lý vấn đề hiệu quả">
								<label for="satisfied2">Xử lý vấn đề hiệu quả</label>
								
							</div>
							<div class="col-xs-6">
								<input type="checkbox" id="satisfied3" name="satisfied[]" value="Thái độ nhân viên tốt">
								<label for="satisfied3">Thái độ nhân viên tốt</label>

								<input type="checkbox" id="satisfied4" name="satisfied[]" value="Quy trình xử lý nhanh, tiện lợi">
								<label for="satisfied4">Quy trình xử lý nhanh, tiện lợi</label>
							</div>

							<div class="col-xs-8 col-xs-push-2" style="margin-top: 20px">
								<textarea class="form-control" type="number" name="description" placeholder="Thêm ý kiến đóng góp cho Nail Phúc Trương"></textarea>
							</div>
						</div>
					</div>
					<div id="tab_normal" class="tab-pane fade">
						<div class="row">
							<div class="col-xs-6">
								
								<input type="checkbox" id="normal1" name="normal[]" value="Tất cả đều bình thường">
								<label for="normal1">Tất cả đều bình thường</label>

								<input type="checkbox" id="normal2" name="normal[]" value="Xử lý vấn đề không hiệu quả">
								<label for="normal2">Xử lý vấn đề không hiệu quả</label>
								
							</div>
							<div class="col-xs-6">
								<input type="checkbox" id="normal3" name="normal[]" value="Thái độ nhân viên bình thường">
								<label for="normal3">Thái độ nhân viên bình thường</label>

								<input type="checkbox" id="normal4" name="normal[]" value="Quy trình xử lý bình thường">
								<label for="normal4">Quy trình xử lý bình thường</label>
							</div>

							<div class="col-xs-8 col-xs-push-2" style="margin-top: 20px">
								<textarea class="form-control" type="number" name="description" placeholder="Thêm ý kiến đóng góp cho Nail Phúc Trương"></textarea>
							</div>
						</div>
					</div>
					<div id="tab_unsatisfied" class="tab-pane fade">
						<div class="row">
							<div class="col-xs-6">
								
								<input type="checkbox" id="unsatisfied1" name="unsatisfied[]" value="Thái độ nhân viên kém">
								<label for="unsatisfied1">Thái độ nhân viên kém</label>

								<input type="checkbox" id="unsatisfied2" name="unsatisfied[]" value="Xử lý vấn đề kém">
								<label for="unsatisfied2">Xử lý vấn đề kém</label>
								
							</div>
							<div class="col-xs-6">
								<input type="checkbox" id="unsatisfied3" name="unsatisfied[]" value="Quy trình làm chậm, mất thời gian">
								<label for="unsatisfied3">Quy trình làm chậm, mất thời gian</label>

								<input type="checkbox" id="unsatisfied4" name="unsatisfied[]" value="Lý do khác">
								<label for="unsatisfied4">Lý do khác</label>
							</div>

							<div class="col-xs-8 col-xs-push-2" style="margin-top: 20px">
								<textarea class="form-control" type="number" name="description" placeholder="Thêm ý kiến đóng góp cho Nail Phúc Trương"></textarea>
							</div>
						</div>	
					</div>
				</div>
				<input type="hidden" name="booking_id">
				<input type="hidden" name="personnel_id">
				<input type="hidden" name="rating_value" value="0">
				
				<div class="row">
					<div class="col-xs-12 text-center bottom">
						<h3 class="text-center" id="submit_rating"><i style="display: none;" class="fa fa-spinner fa-spin"></i> Gửi đánh giá</h3>
					</div>
				</div>
			</div>
		</div>

	</div>
	<script src="/public/home/js/combine.js"></script>

	
	<script src="/public/home/js/bootstrap-datepicker.js"></script>
	<script src="/public/admin/js/socket.io.js"></script>
	<script src="/public/home/js/angular.js"></script>
    <script src="/public/home/js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="/public/config.js"></script>
    <script src="/public/home/js/controller.js"></script>


	<script type="text/javascript">
        $(function () {
        	
			 $(document).ready(function ()
{

	/* 1. Visualizing things on Hover - See next part for action on click */
	$('#stars li').on('mouseover', function ()
	{
		var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on

		// Now highlight all the stars that's not after the current hovered star
		$(this).parent().children('li.star').each(function (e)
		{
			if (e < onStar)
			{
				$(this).addClass('hover');
			}
			else
			{
				$(this).removeClass('hover');
			}
		});

			}).on('mouseout', function ()
			{
				$(this).parent().children('li.star').each(function (e)
				{
					$(this).removeClass('hover');
				});
			});


			/* 2. Action to perform on click */
			$('#stars li').on('click', function ()
			{
				var onStar = parseInt($(this).data('value'), 10); // The star currently selected
				var stars = $(this).parent().children('li.star');

				for (i = 0; i < stars.length; i++)
				{
					$(stars[i]).removeClass('selected');
				}

				for (i = 0; i < onStar; i++)
				{
					$(stars[i]).addClass('selected');
				}

				// JUST RESPONSE (Not needed)
				var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
				var msg = "";
				$('input[name="rating_value"]').val(ratingValue)
				if (ratingValue >= 1)
				{
					$('.tab-content').fadeIn(200)
					if(ratingValue == 1 || ratingValue == 2){
						$('#tab_unsatisfied').addClass('active in');
						$('#tab_satisfied').removeClass('active in');
						$('#tab_normal').removeClass('active in');
					}
					if(ratingValue == 3){
						$('#tab_unsatisfied').removeClass('active in');
						$('#tab_satisfied').removeClass('active in');
						$('#tab_normal').addClass('active in');
					}
					if(ratingValue == 4 || ratingValue == 5){
						$('#tab_unsatisfied').removeClass('active in');
						$('#tab_satisfied').addClass('active in');
						$('#tab_normal').removeClass('active in');
					}


				}
				else
				{
					msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
				}
				responseMessage(ratingValue);

			});


		});


		function responseMessage(msg)
		{
			$('.success-box').fadeIn(200);
			$('.success-box div.text-message').html("<span>" + msg + "</span>");
		}

        	var activeTab = null;
			$('a[data-toggle="tab"]').on('shown', function (e) {
			  activeTab = e.target;
			})
        	$('#submit_rating').on('click',function(){

        		$('#submit_rating .fa-spinner').show();
        		$('#submit_rating').attr('disabled', 'disabled');

        		var tab_active = $("ul.tab_rating").find(".active").data("id");
			
        		var val = [];
        		var type = '', description = '';
        		var img_src = '';
        		var booking_id = $('input[name="booking_id"]').val();
        		var personnel_id = $('input[name="personnel_id"]').val();
				var rating_value = $('input[name="rating_value"]').val();
        		
        		if (rating_value == 4 || rating_value == 5)
        		{
        			type = 'Hài lòng';
        			description = $('#tab_satisfied textarea[name="description"]').val();
        			$('#tab_satisfied :checkbox:checked').each(function(i){
			          	val[i] = $(this).val();
			        });
        			img_src = 'public/home/images/iconfinder_happy_1325173.png';
        		}
        		if (rating_value == 3)
        		{
        			type = 'Bình thường';
        			description = $('#tab_normal textarea[name="description"]').val();
        			$('#tab_normal :checkbox:checked').each(function(i){
			          	val[i] = $(this).val();
			        });
			        img_src = 'public/home/images/iconfinder_shy_1325169.png';
        		}
        		if (rating_value == 1 || rating_value == 2)
        		{
        			type = 'Không hài lòng';
        			description = $('#tab_unsatisfied textarea[name="description"]').val();
        			$('#tab_unsatisfied :checkbox:checked').each(function(i){
			          	val[i] = $(this).val();
			        });
			        img_src = 'public/home/images/iconfinder_angry_1325170.png';
        		}
        		if (booking_id == '')
        		{
        			return false;
        		}
        		$.ajax({
                    url : "/home/create-rating",
                    type : "post",
                    dataType:"text",
                    data : {
                        'type' : type,
                        'description' : description,
						"rate_stars": rating_value,
                        'option' : val,
                        'booking_id' : booking_id,
                        'personnel_id' : personnel_id
                    },
                    success : function (result){
                    	$('.show_tow .img_src').attr("src", img_src);
                    	$('.show_tow .string_text').html(type);
                    	$('.show_tow').show();
                    	$('.show_one').hide();
                    	setTimeout(function() {
        					location.reload();
        				}, 5000);
                    },
                    error : function (xhr, ajaxOptions, thrownError){
                    	$('#submit_rating .fa-spinner').hide();
        				$('#submit_rating').removeAttr('disabled');
        				setTimeout(function() {
        					//location.reload();
        				}, 1000);
        				
                    }
                });

        		
        		return false;
        	})

        	$('.fa-arrow-circle-left').on('click',function(){
        		$('.online_member').show();
            	$('.show_one').hide();
            	$('.fa-arrow-circle-left').hide();
        	})

        });
    </script>

</body>

</html>
