<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
			<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">{{title}}</span> </h4>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" class="btn btn-link btn-float text-default"><i class="icon-reset text-primary"></i><span>Reset </span></a>
				<a href="#" data-toggle="modal" data-target="#modal_iconified" class="btn btn-link btn-float text-default"><i class="icon-add text-primary"></i><span>Thêm Mới</span></a>
				
			</div>
		</div>
	</div>
</div>


<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-light header-elements-inline">
					<h6 class="card-title">Danh sách nhân sự</h6>
					

				</div>
				
				<table class="table datatable-row-basic-service  table-striped table-bordered " >
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Tên nhân viên</th>
							<th class="text-center">Số điện thoại</th>
							<th class="text-center">Ngày sinh</th>
							<th class="text-center">Ngày vào làm</th>
							<th class="text-center">Lương cơ bản</th>
							<th class="text-center">Điểm/Lượt đánh giá</th>
							<th class="text-center">Ứng lương</th>
							<th class="text-center">Điểm nhân viên</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>
						{{#each personnel}} 
							<tr>
								<td class="text-center">{{add_one @index}}</td>
								<td class="text-center">
									<a href="/administrator/service-evaluation/{{this._id}}">
										{{this.fullname}}
									</a>
								</td>
								<td class="text-center">{{this.telephone}}</td>
								<td class="text-center">{{this.birthday}}</td>
								<td class="text-center">{{this.date_work}}</td>
								<td class="text-center">{{numberFormat this.salary}}</td>
								<td class="text-center">{{this.rate_avg}} / {{this.rate_num}}</td>
								<td class="text-center"><button type="button" class="btn btn-info on_modal_point" data-id="{{this._id}}" data-toggle="modal" data-target="#modal_advance_salary">{{numberFormat this.advance_salary}}</button></td>
								<td class="text-center"><button type="button" class="btn btn-primary on_modal_point" data-id="{{this._id}}" data-toggle="modal" data-target="#modal_point">{{this.point}}</button></td>
								<td class="text-center">
									<span style="cursor: pointer;" data-id={{this._id}} href="#" class="badge badge-flat border-primary text-primary-600 badge-icon edit_personnel"><i class="icon-pencil5"></i></span>
									<span  style="cursor: pointer;" data-id={{this._id}}  class="badge badge-flat border-danger text-danger-600 badge-icon remove_service"><i class="icon-folder-remove"></i></span>
								</td>
							</tr>
						{{/each}} 
					</tbody>
				</table>
				
			</div>
		</div>
			
	</div>
	<div id="modal_advance_salary" class="modal fade" tabindex="-1">
		<div class="modal-dialog md_edit">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Ứng lương</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="form_advance_salary">
					<div class="modal-body">
					
						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên nhân viên</label>
									<input class="form-control" readonly type="text" name="fullname" placeholder="Tên nhân viên">
								</div>
								<div class="col-md-6">
									<label>Số điện thoại</label>
									<input class="form-control" readonly type="text" name="telephone" placeholder="Tên nhân viên">
								</div>
							</div>
							<div class="row">
								
								<div class="col-md-12">
									<label>Số tiền ứng</label>
									<input class="form-control" type="text" name="salary" placeholder="Số tiền ứng">
								</div>
							</div>
						
							<input class="form-control" type="hidden" name="id" >
						
						</div>
					</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Hủy</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Xác nhận</button>
				</div>
			
			</form>	
			</div>
		</div>
	</div>
	<div id="modal_point" class="modal fade" tabindex="-1">
		<div class="modal-dialog md_edit">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Ứng lương</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="form_point">
					<div class="modal-body">
					<div class="alert alert-info">
			                Điểm hiện tại: <span class="current_point"></span>
			              
			            </div>
						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên nhân viên</label>
									<input class="form-control" readonly type="text" name="fullname" placeholder="Tên nhân viên">
								</div>
								<div class="col-md-6">
									<label>Số điện thoại</label>
									<input class="form-control" readonly type="text" name="telephone" placeholder="Tên nhân viên">
								</div>
							</div>
							<div class="row">
								
								<div class="col-md-12">
									<label>Điểm</label>
									
									<input class="form-control" type="text" name="point" placeholder="Điểm">
									<p>Lưu ý: <i class="text-warning">Nếu trừ điểm thì nhập dấu trừ đằng trước số (Ví dụ trừ 1 điểm thì nhập -1)</i>

									</p>
								</div>
							</div>
						
							<input class="form-control" type="hidden" name="id" >
						
						</div>
					</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Hủy</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Xác nhận</button>
				</div>
			
			</form>	
			</div>
		</div>
	</div>
	<div id="modal_iconified" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo nhân sự</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="create_personnel">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo nhân sự.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên nhân viên</label>
									<input class="form-control" type="text" name="fullname" placeholder="Tên nhân viên">
								</div>
								<div class="col-md-6">
									<label>Số điện thoại</label>
									<input class="form-control" type="text" name="telephone" placeholder="Tên nhân viên">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Ngày sinh</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Chọn ngày sinh" name="birthday">
									</div>
								</div>
								<div class="col-md-6">
									<label>Địa chỉ</label>
									<input class="form-control" type="text" name="address" placeholder="Địa chỉ">
								</div>
								<div class="col-md-12">
									<label>Lương cơ bản</label>
									<input class="form-control" type="text" name="salary" placeholder="Lương cơ bản">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Ngày vào làm</label>
									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Chọn ngày vào làm" name="date_work">
									</div>
									
								</div>
							</div>
							
						
						</div>
					</div>

				<div class="modal-footer">
					<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
					<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
				</div>
			
			</form>	
			</div>
		</div>
	</div>

	<div id="modal_edit_personnel_modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp;Tạo đặt lịch</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="edit_personnel">
					<div class="modal-body">
						<div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
			                Vui lòng điền đầy đủ thông tin để tạo nhân sự.
			                <button type="button" class="close" data-dismiss="alert">×</button>
			            </div>

						<div class="spa_reservation_form">
							<div class="alert alert-danger" role="alert">
										  	
							</div>
							<div class="alert alert-success" role="alert">
							  	
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Tên nhân viên</label>
									<input class="form-control" type="text" name="fullname" placeholder="Tên nhân viên">
								</div>
								<div class="col-md-6">
									<label>Số điện thoại</label>
									<input class="form-control" type="text" name="telephone" placeholder="Tên nhân viên">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label>Ngày sinh</label>

									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Chọn ngày sinh" name="birthday">
									</div>
								</div>
								<div class="col-md-6">
									<label>Địa chỉ</label>
									<input class="form-control" type="text" name="address" placeholder="Địa chỉ">
								</div>
								<div class="col-md-12">
									<label>Lương cơ bản</label>
									<input class="form-control" type="text" name="salary" placeholder="Lương cơ bản">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label>Ngày vào làm</label>
									<div class="" style="display:inline-block;position:relative; width: 100%; padding: 0px;">
										<input class="form-control datepickers" data-toggle="datepicker"  type="text" placeholder="Chọn ngày vào làm" name="date_work">
									</div>
									
								</div>
							</div>
							
							<input class="form-control" type="hidden" name="id" placeholder="Lương cơ bản">
						</div>
					</div>

					<div class="modal-footer">
						<button class="btn btn-link" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Close</button>
						<button type="submit" class="btn bg-primary"><i class="icon-checkmark3 font-size-base mr-1"><i style="display: none;" class="fa fa-spinner fa-spin"></i></i> Save</button>
					</div>
				
				</form>	
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
    $(function () {
    	function getUser(id){
			$.ajax({
	            url : "/administrator/personnel/get-personnel-id",
	            type : "post",
	            dataType:"text",
	            data : {
	                'id' : id
	            },
	            success : function (result){
	                var data = $.parseJSON(result)
	              	$('.md_edit input[name="fullname"]').val(data.fullname);
	                $('.md_edit input[name="telephone"]').val(data.telephone);
					$('.current_point').text(data.point)
	            }
	        })
		}
		$('.on_modal_point').on('click',function(){
			var _id = $(this).data('id');
			$('.md_edit input[name="id"]').val(_id);
			getUser(_id)
		})
		$('#form_advance_salary').on('submit',function(){

	        $('#form_advance_salary .alert-danger').hide();
	        $('#form_advance_salary .fa-spinner').show();
	        $('#form_advance_salary .site-button').attr('disabled', 'disabled');

	        var salary = $('#form_advance_salary input[name="salary"]').val().replace(/,/g, '');

	        if (salary == '' || isNaN(salary))
	        {
	            $('#form_advance_salary .alert-danger').show().html('Bạn vui lòng nhập lương cơ bản.');
	            $('#form_advance_salary .fa-spinner').hide();
	                $('#form_advance_salary .site-button').removeAttr('disabled');
	            return false;
	        }
			var id = $('#form_advance_salary input[name="id"]').val();
	        $.ajax({
	            url : "/administrator/personnel/advance-salary",
	            type : "post",
	            dataType:"text",
	            data : {
	                'salary' : salary,
	                '_id' : id
	            },
	            success : function (result){
	               location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#form_advance_salary .fa-spinner').hide();
	                $('#form_advance_salary .site-button').removeAttr('disabled');
	                $('#form_advance_salary .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	                
	            }
	        });

	        
	        return false;
	    })
	$('.on_modal_point').on('click',function(){
			var _id = $(this).data('id');
			$('.md_edit input[name="id"]').val(_id);
			getUser(_id)
		})
		$('#form_point').on('submit',function(){

	        $('#form_point .alert-danger').hide();
	        $('#form_point .fa-spinner').show();
	        $('#form_point .site-button').attr('disabled', 'disabled');

	        var point = $('#form_point input[name="point"]').val().replace(/,/g, '');

	        if (point == '' || isNaN(point))
	        {
	            $('#form_point .alert-danger').show().html('Bạn vui lòng nhập lương cơ bản.');
	            $('#form_point .fa-spinner').hide();
	                $('#form_point .site-button').removeAttr('disabled');
	            return false;
	        }
			var id = $('#form_point input[name="id"]').val();
	        $.ajax({
	            url : "/administrator/personnel/advance-point",
	            type : "post",
	            dataType:"text",
	            data : {
	                'point' : point,
	                '_id' : id
	            },
	            success : function (result){
	               location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#form_point .fa-spinner').hide();
	                $('#form_point .site-button').removeAttr('disabled');
	                $('#form_point .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	                
	            }
	        });

	        
	        return false;
	    })

    	$('#create_personnel').on('submit',function(){

	        $('#create_personnel .alert-danger').hide();
	        $('#create_personnel .fa-spinner').show();
	        $('#create_personnel .site-button').attr('disabled', 'disabled');
	        var fullname = $('#create_personnel input[name="fullname"]').val();
	        var telephone = $('#create_personnel input[name="telephone"]').val();
	        var birthday = $('#create_personnel input[name="birthday"]').val();
	        var address = $('#create_personnel input[name="address"]').val();
	        var salary = $('#create_personnel input[name="salary"]').val().replace(/,/g, '');
	       	var date_work = $('#create_personnel input[name="date_work"]').val();

	        if (fullname == '')
	        {
	            $('#create_personnel .alert-danger').show().html('Bạn vui lòng nhập tên nhân viên.');
	            $('#create_personnel .fa-spinner').hide();
	                $('#create_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (telephone == '')
	        {
	            $('#create_personnel .alert-danger').show().html('Bạn vui lòng nhập số điện thoại.');
	            $('#create_personnel .fa-spinner').hide();
	                $('#create_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (birthday == '')
	        {
	            $('#create_personnel .alert-danger').show().html('Bạn vui lòng nhập ngày sinh.');
	            $('#create_personnel .fa-spinner').hide();
	                $('#create_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (address == '')
	        {
	            $('#create_personnel .alert-danger').show().html('Bạn vui lòng nhập địa chỉ.');
	            $('#create_personnel .fa-spinner').hide();
	                $('#create_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (salary == '' || isNaN(salary))
	        {
	            $('#create_personnel .alert-danger').show().html('Bạn vui lòng nhập lương cơ bản.');
	            $('#create_personnel .fa-spinner').hide();
	                $('#create_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (date_work == '')
	        {
	            $('#create_personnel .alert-danger').show().html('Bạn vui lòng nhập ngày vào làm.');
	            $('#create_personnel .fa-spinner').hide();
	                $('#create_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        
	        $.ajax({
	            url : "/administrator/personnel/create-personnel",
	            type : "post",
	            dataType:"text",
	            data : {
	                'fullname' : fullname,
	                'telephone' : telephone,
	                'birthday' : birthday,
	                'address' : address,
	                'salary' : salary,
	                'date_work' : date_work
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#create_personnel .fa-spinner').hide();
	                $('#create_personnel .site-button').removeAttr('disabled');
	                $('#create_personnel .alert-danger').show().html($.parseJSON(xhr.responseText).message);
	                
	                
	            }
	        });

	        
	        return false;
	    })


    	$('.edit_personnel').on('click',function(){
	        var id = $(this).data('id');
	        
	        $.ajax({
	            url : "/administrator/personnel/get-personnel-id",
	            type : "post",
	            dataType:"text",
	            data : {
	                'id' : id
	            },
	            success : function (result){
	                var data = $.parseJSON(result)
	                $('#modal_edit_personnel_modal input[name="fullname"]').val(data.fullname);
	                $('#modal_edit_personnel_modal input[name="birthday"]').val(data.birthday);
	                $('#modal_edit_personnel_modal input[name="address"]').val(data.address);
	                $('#modal_edit_personnel_modal input[name="salary"]').val(formatNumber(data.salary));
	                $('#modal_edit_personnel_modal input[name="date_work"]').val(data.date_work);
	                $('#modal_edit_personnel_modal input[name="telephone"]').val(data.telephone);
	               	$('#modal_edit_personnel_modal input[name="id"]').val(data._id);
	                $('#modal_edit_personnel_modal').modal('show');
	            }
	        })
	        return false;
	    })


	    $('#edit_personnel').on('submit',function(){
	        $('#edit_personnel .alert-danger').hide();
	        $('#edit_personnel .fa-spinner').show();
	        $('#edit_personnel .site-button').attr('disabled', 'disabled');
	        var fullname = $('#edit_personnel input[name="fullname"]').val();
	        var telephone = $('#edit_personnel input[name="telephone"]').val();
	        var birthday = $('#edit_personnel input[name="birthday"]').val();
	        var address = $('#edit_personnel input[name="address"]').val();
	        var salary = $('#edit_personnel input[name="salary"]').val().replace(/,/g, '');
	       	var date_work = $('#edit_personnel input[name="date_work"]').val();
	        var id = $('#edit_personnel input[name="id"]').val();
	       	
	        if (fullname == '')
	        {
	            $('#edit_personnel .alert-danger').show().html('Bạn vui lòng nhập tên nhân viên.');
	            $('#edit_personnel .fa-spinner').hide();
	                $('#edit_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        if (telephone == '')
	        {
	            $('#edit_personnel .alert-danger').show().html('Bạn vui lòng nhập số điện thoại.');
	            $('#edit_personnel .fa-spinner').hide();
	                $('#edit_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (birthday == '')
	        {
	            $('#edit_personnel .alert-danger').show().html('Bạn vui lòng nhập ngày sinh.');
	            $('#edit_personnel .fa-spinner').hide();
	                $('#edit_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (address == '')
	        {
	            $('#edit_personnel .alert-danger').show().html('Bạn vui lòng nhập địa chỉ.');
	            $('#edit_personnel .fa-spinner').hide();
	                $('#edit_personnel .site-button').removeAttr('disabled');
	            return false;
	        }

	        if (salary == '' || isNaN(salary))
	        {
	            $('#edit_personnel .alert-danger').show().html('Bạn vui lòng nhập lương cơ bản.');
	            $('#edit_personnel .fa-spinner').hide();
	                $('#edit_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        if (date_work == '')
	        {
	            $('#edit_personnel .alert-danger').show().html('Bạn vui lòng nhập ngày vào làm.');
	            $('#edit_personnel .fa-spinner').hide();
	                $('#edit_personnel .site-button').removeAttr('disabled');
	            return false;
	        }
	        
	        $.ajax({
	            url : "/administrator/personnel/edit-personnel-by-id",
	            type : "POST",
	            dataType:"text",
	            data : {
	                'fullname' : fullname,
	                'telephone' : telephone,
	                'birthday' : birthday,
	                'address' : address,
	                'salary' : salary,
	                'date_work' : date_work,
	                'id' : id
	            },
	            success : function (result){
	                location.reload();
	            },
	            error : function (xhr, ajaxOptions, thrownError){
	                $('#edit_personnel .fa-spinner').hide();
	                $('#edit_personnel .site-button').removeAttr('disabled');
	                $('#edit_personnel .alert-danger').show().html('Error');
	                
	            }
	        });

	        
	        return false;
	    })

	    $('.remove_service').on('click',function(){
	        var id = $(this).data('id');
	        if(confirm('Bạn có chắc chắn với lựa chọn của mình ?'))
	        {
	        	$.ajax({
		            url : "/administrator/personnel/remove-personnel-by-id",
		            type : "post",
		            dataType:"text",
		            data : {
		                'id' : id
		            },
		            success : function (result){
		                location.reload();
		            }
		        })
	        }
	        
		        
	        return false;
	    })
	    function formatNumber(num) {
		  return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
		}
	    $('input[name="salary"]').on('input propertychange',function(){
	    	$(this).val(formatNumber($(this).val().replace(/,/g, ''))); 
	    })
    });


</script>