.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
	/* perspective: 1500px; */
}
#sidebar{
    min-width: 260px;
    max-width: 260px;
    background: #fff;
    color: #fff;
    transition: all 0.5s;
	z-index: 999;
	position:relative;
}
#sidebar.active{
    margin-left: -260px;
    transform: rotateY(100deg);
}
#sidebar .sidebar-header {
    padding: 20px;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #3b68e7;
}
a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before, 
a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    min-height: 100vh;
    transition: all 0.3s ease 0s;
    width: 100%;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1200px) {
    #sidebar {
        margin-left: -260px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}
@media (max-width: 480px) {
	#sidebarCollapse.navbar-btn.active {
		background: rgba(0,0,0,0);
		left: 0;
		margin: 0;
		position: fixed;
		top: 0;
		transition: all 0.5s ease 0s;
	}
}
.leftbar{
	border-right:1px solid rgba(0,0,0,0.2);
}
.leftbar .navbar-nav{
	display: block;
    width: 100%;
}
.leftbar .navbar-nav > li{
	display: block;
    float: none;
    width: 100%;
	padding:0 30px; 
}
.leftbar .header-nav .nav > li.has-mega-menu{
	position: relative;
}
.leftbar .navbar-nav li.has-mega-menu > ul > ul{
	display:block;
}
.leftbar .navbar-nav > li > ul{
	display:none;
}
.leftbar .header-nav .nav > li > a{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 13px;
    padding: 15px 0;
	display: block;
    width: 100%;
}
.leftbar .header-nav .nav i{
	font-size: 15px;
    margin-top: 2px;
	float:right;
}
.leftbar .header-nav .nav > li.has-mega-menu .mega-menu,
.leftbar .header-nav .nav > li .sub-menu{
	margin-top:0;
	left:260px;
	top:0;
	box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);
}

/* logo */
.leftbar .logo-header{
	width:100%;
	display:block;
	text-align: center;
	float: none;
	height:auto;
	padding:30px 15px;;
}
.leftbar .logo-header a{
	display:block;
}
.leftbar .logo-header img{
	width:170px;
}
.side-nav {
	height: 100%;
    position: fixed;
    top: 0;
    width: 259px;
    z-index: 999;
}
.site-header {
    background-color: #fff;
    margin-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
.site-header.header{
	display:none;
}
@media (max-width: 1400px) {
	.container {
		width: 100%;
	}
}
@media (max-width: 1200px) {
	.site-header.header{
		display:block;
	}
	.site-header .navbar-btn {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.site-header .navbar-header {
		float: right;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 991px) {
	.leftbar .header-nav{
		margin:0 0;
	}
	.leftbar .navbar-nav > li{
		padding:0 0;
	}
	.leftbar .header-nav .nav > li > a{
		padding:10px 15px;
		border-bottom:0;
	}
	.leftbar .header-nav .nav > li.has-mega-menu .mega-menu, 
	.leftbar .header-nav .nav > li .sub-menu{
		box-shadow:none;
		padding:0;
	}
	.side-nav{
		overflow:scroll;
	}
}
/* Sort Sidebar */

.sort-sidebar.leftbar .navbar-nav > li{
	padding:0;
}
.sort-sidebar.leftbar  .nav > li > a{
	border-bottom: 0 none;
    color: #303030;
    font-size: 14px;
    padding: 12px 20px 11px;
    text-transform: capitalize;
}
#sidebar.sort-sidebar.leftbar  .nav > li.active > a{
	background: #DCDCDC none repeat scroll 0 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2) inset;
    color: #3b68e7;
	border-left: 5px solid;
}
#sidebar.sort-sidebar.leftbar  .nav > li.active > a:after {
    background-color: #DCDCDC;
	background-image:url(../../error-404.html);
    content: "";
    display: block;
    height: 71px;
    position: absolute;
    right: -7px;
    top: -15px;
    width: 31px;
    z-index: 9;
}
.nav-inside{
	background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    margin-right: 5px;
}
.sort-sidebar .mCSB_container{
	/* background-color:#DCDCDC; */	
}
.sort-sidebar#sidebar{
	border:0;
	background: rgba(0,0,0,0);
	margin-right: -5px;
}
.sort-area{
	background: #dcdcdc;
}
.sort-area .site-header .navbar-header .navbar-btn#sidebarCollapse{
	background-color:rgba(0,0,0,0);
	margin: 20px 0 0;
}
.sort-area .site-header .navbar-header .navbar-btn#sidebarCollapse span{
	background-color:#fff;	
}

.sort-sidebar .side-nav{
	width:260px;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.sort-sidebar.leftbar .logo-header {
	background: #fff
}
.sort-area .content-area{
	position:relative;
}

.sort-area .site-footer .container-fluid,
.sort-area .content-area .container-fluid{
	padding:30px;
}
.sort-area .content-area .container{
	width: auto;
	max-width:1200px;
	padding-left:30px;
	padding-right:30px;
}
.sort-area .content-area{
	padding-top:0;
}
.element-area .navbar{
	box-shadow:none;
	padding: 0;
}
.sort-area .content-area .element-area{
	padding-left:0;
	padding-top:30px;
}
.sort-area .content-area .element-area .myNavbar{
	width: 200px;
	position:sticky;
	top:70px;
	border-left:0px solid rgba(0,0,0,0.1);
	padding-bottom:10px;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	border-radius:0 0 0 15px;
}
.sort-area .content-area .element-area .myNavbar > ul > li > a{
	font-weight: 600;
	color: #464a4c;
}
.sort-area .content-area .element-area .myNavbar > ul > li.active > a{
	color: #3b68e7;
    font-weight: 600;
}
.sort-area .content-area .element-area .myNavbar > ul > li ul{
	display:none;
}
.sort-area .content-area .element-area .myNavbar > ul > li.active ul{
	display:block;
}
.sort-area .content-area .element-area .myNavbar > ul li ul li a{
    display: block;
    padding: 4px 25px;	
	color: #808080;
	font-size:12px;
}
.sort-area .content-area .element-area .myNavbar > ul li ul li.active a{
	color: #3b68e7;
}
.sort-area .content-area .element-area .myNavbar h6{
	padding:15px 20px;
	margin:0;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.sort-area .content-area .element-area .navbar-nav li{
	display:block;
	width:100%;
	
}
.sort-area .content-area .element-area .navbar-nav li a{
	color: #000000;
    font-size: 13px;
    padding: 7px 20px;
}
.sort-sidebar.leftbar  .nav i{
	float:none;
	margin-top:0;
	margin-right:5px;
	width:20px;
}
.sort-area .content-area{
	background: #DCDCDC;
	
}
.sort-area .box-sort{
	border: 0 solid #ebedf2;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	border-radius: 15px;
}
.sort-area .site-header.header{
	display:block;
	position: relative;
}
.sort-sidebar .logo-header img{
	width:150px;	
}

.sort-area .dez-bnr-inr .container{
	width:100%;
	padding:0;
} 
.sort-area .dez-bnr-inr{
	box-sizing:unset;
	height:160px;
	text-align:left;
	padding-left:30px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	margin-bottom:30px;
}
.sort-area .dez-bnr-inr,
.sort-area .dez-bnr-inr:after{
	border-radius: 15px 0 0 15px;
}
.sort-bnr-title{
	border-bottom:1px solid rgba(255,255,255,0.2);
	margin-right:30px;
}
.sort-bnr-title span{
	font-size:20px;
	float:right;
}
/* Tabs */
.code-tabs{
	margin: 6px 0 0;
	padding:0;
	list-style:none;
	display:none;
}
.code-tabs li{
	display:inline-block;
}
.code-tabs li a{
	background-color: #dedede;
    border-radius: 2px;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    padding: 2px 8px;
    text-transform: uppercase;
}
.code-tabs li.active a{
	background-color:#3B68E7;
	color:#fff;
}
.code-tabs li a[aria-expanded="false"]:before, 
.code-tabs li a[aria-expanded="true"]:before {
	content:none;
}

.sort-area pre.language-markup,
.sort-area pre[class*="language-"] > code{
	border:0px solid;
	box-shadow:none;
	margin: 0;
	background-image:none;
}
.sort-area pre[class*="language-"] > code{
	border-left:3px solid #3B68E7;
	padding: 10px 20px;
}
.sort-area .site-header .logo-header{
	width:150px;
}
.sort-area .navbar-header{
	padding-right:5px;
}
.sort-area .site-header .is-fixed .navbar-header #sidebarCollapse.navbar-btn{
	margin: 15px 0 0;
}
.sort-area .main-bar{
	z-index:9999999;
}
/* active nav */
@media only screen and (max-width: 2500px) and (min-width: 1200px) {
	.sort-area .is-fixed .main-bar{
		margin-left:255px;
		padding-right:255px;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		transition:all 0.5s;
	}
}
@media only screen and (max-width: 2500px) and (min-width: 1024px) {
	#sidebar.leftbar.active.sort-sidebar{
		margin-left: 0;
		transform: unset;
		max-width: 85px;
		min-width: 85px;
		margin-right: -5px;
		z-index: 9;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
	}
	.leftbar.active.sort-sidebar .side-nav{	
		width: 85px;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
	}
	.active.sort-sidebar.leftbar  .nav > li > a{
		text-align:center;
		padding: 15px 20px;
		border-bottom:1px solid rgba(0,0,0,0.1);
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
	}
	.active.sort-sidebar.leftbar  .nav > li > a span{
		font-size:0;
		display: none;
		font-size: 0;
		height: 0;
		width: 0;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
	}
	.active.sort-sidebar .social-button span{
		display:block;
		margin-bottom:5px;
	}	
	.active.sort-sidebar.leftbar .logo-header{
		padding: 15px 10px;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
	}
	.active.sort-sidebar.leftbar  .nav i {
		font-size:22px;
		width: auto;
		transition:all 0.5s;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
	}
	#sidebar.active.sort-sidebar.leftbar  .nav > li.active > a:after{
		background-image:url(../../error-404.html);
		height:82px;
	}
	.sort-area.active .is-fixed .main-bar{
		margin-left:80px;
		padding-right:80px;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		transition:all 0.5s;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 1024px) {
	#sidebar.sort-sidebar{
		margin-right:0;
	}
}
@media only screen and (max-width: 991px){
	.sort-sidebar.leftbar  .nav i{
		float: left;
	}
	#sidebar.sort-sidebar{
		margin-right:0;
	}
	#sidebar.sort-sidebar.active{
		margin-right:-5px;
	}
	.element-area{
		display:none;
	}
	.sort-area .main-bar{
		z-index:999;
	}
	.sort-area.active .is-fixed .main-bar{
		margin-left:255px;
		padding-right:255px;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		transition:all 0.5s;
	}	
}
@media only screen and (max-width: 767px){
	.sort-sidebar .navbar-nav {
		margin: 7.5px 0;
	}
	.sort-area #sidebarCollapse.navbar-btn.active{
		position:unset;
	}
	.sort-area.active .is-fixed .main-bar{
		padding-right:0px;
		-moz-transition:all 0.5s;
		-webkit-transition:all 0.5s;
		transition:all 0.5s;
	}	
}





